
  
    <h2 class="page-title-jp">
      <span>よくある質問のカテゴリー作成</span>
    </h2>
    
    <%= form_for(@question_categories) do |f| %>
      <%= f.label :カテゴリー名 %>
      <%= f.text_field :name , class: 'question-category-form' %><br><br>
      <%= f.submit "追加する" ,class: "btn btn-primary" %>
    <% end %>
        
    <div class="question-padding">
      <%= link_to "よくある質問ページへ戻る", questions_path ,class: "btn btn-info" %>
    </div>
    
