<div class="form-login-reset">
  <div class="form-login-reset--wrapper">
    <%= form_for(:session, url: login_path) do |f| %>
      
      <%= f.label :email, 'ログインID（ご登録いただいたメールアドレス）', class: 'form-login-reset--label' %>
      <%= f.email_field :email, class: 'form-login-reset--textbox' %>

      <%= f.label :password, 'パスワード', class: 'form-login-reset--label'%>
      <%= f.password_field :password, class: 'form-login-reset--textbox' %>
      <%= link_to "パスワードを忘れた方はコチラ", new_password_reset_path, class: 'form-login-reset--link' %>

      <%= image_submit_tag("button_login.png", class: "form-login-reset--button") %>
    <% end %>
  </div>
</div>