<div class="form-window form-login-reset">
  <div class="form-window--wrapper">
    <%= form_for(:session, url: login_path) do |f| %>
      
      <%= f.label :email, 'ログインID（ご登録いただいたメールアドレス）', class: 'form-window--label' %>
      <%= f.email_field :email, class: 'form-window--textbox' %>

      <%= f.label :password, 'パスワード', class: 'form-window--label'%>
      <%= f.password_field :password, class: 'form-window--textbox' %>
      <%= link_to "パスワードを忘れた方はコチラ", new_password_reset_path, class: 'form-window--link' %>

      <%= image_submit_tag("button_login.png", class: "form-window--button") %>
    <% end %>
  </div>
</div>