<div class="questions-edit--wrapper">
  
  	<h2 class="page-title-jp">
    	<span>よくある質問の編集</span>
   	</h2>
    
	<%= form_for(@question) do |f| %>

 		<%= f.label :question %>
  		<%= f.text_area :question , class: 'question-form' %><br><br>
  		<%= f.label :answer %>
  		<%= f.text_area :answer , class: 'question-form' %><br>
 		<%= f.submit "更新" ,class: "btn btn-success" %>
	<% end %>
	
	<div class="question-padding">
		<%= link_to "戻る", questions_path ,class: "btn btn-info" %>
		<%= link_to "削除", @question, class: "btn btn-danger", method: :delete,
        	data: { confirm: "本当に削除しますか?" } %>
	</div>
	
</div>