<div class="questions-index--wrapper">
  
  <h2 class="page-title-jp">
    <span>よくある質問</span>
  </h2>
  
  
  <!-- QA bootstrap アコーディオン -->
  
  <div class="panel-group" id="sampleAccordion">
    <div class="panel panel-success">
      <div class="panel-heading">
        カテゴリー
      </div>
    </div>
  	
  
	  <% sampleAccordionCollapse = 1 %>
    <% @questions.each do |question| %>

      <% if sampleAccordionCollapse != 0 %>
      	<% sampleAccordionCollapse += 1 %>

  	    <div class="panel panel-default">
  	    	<div class="panel-heading">
  			    <h3 class="panel-title">
  		    		<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#<%= sampleAccordionCollapse %>">
                Q :<%= question.question %><br>
                 
                <%= link_to "編集", edit_question_path(question) %>
   				    </a>
  		    	</h3>
  	     	</div>
  		
  		  	<div id= <%= sampleAccordionCollapse %> class="panel-collapse collapse">
  			    <div class="panel-body">
              A :<%= question.answer %><br>
    		  	</div>
  	    	</div>
      	</div>
    	

      <% end %>
    <% end %>

  	<%= link_to "新規作成", new_question_path, class: "btn btn-primary"  %>
  	   
  </div>
</div>