<div class="questions-index--wrapper">
  
  <h2 class="page-title-jp">
    <span>よくある質問</span>
  </h2>
  
  <% @question_categories.each do |category| %>
    <div class="panel panel-success">
      <div class="panel-heading">
        <% if category.name.nil? %>
          <%= "blank" %><br>
        <% else %>
          <%= category.name %><br>
        <% end %>
      <%= link_to "カテゴリーを編集する", edit_question_category_path(category), class: "sm-btn btn-success"  %><br>
      </div>
    </div>
    
  <!-- QA bootstrap アコーディオン -->
  
    <div class="panel-group" id="sampleAccordion">
	    <% sampleAccordionCollapse = 1 %>
	  
      <% @questions.each do |question| %>
        <% if sampleAccordionCollapse != 0 %>
        	<% sampleAccordionCollapse += 1 %>
          <% if category.id ==  question.question_category_id %>
  	        <div class="panel panel-default">
  	    	    <div class="panel-heading">
  			        <h3 class="panel-title">
  		    		    <a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#<%= sampleAccordionCollapse %>">
                  Q :<%= question.question %><br>
                    <div class="question-padding">
                      <%= link_to "質問又は回答を編集する", edit_question_path(question) ,class: "sm-btn btn-success" %>
                    </div>
   				        </a>
  		          </h3>
  	          </div>
  	        
  		  	    <div id= <%= sampleAccordionCollapse %> class="panel-collapse collapse">
  			        <div class="panel-body">
                  A :<%= question.answer %><br>
    		  	    </div>
  	    	    </div>
      	    </div>
      	
        	<% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="question-padding">
    <%= link_to "質問及び回答を作成する", new_question_path, class: "btn btn-primary"  %>
  	<%= link_to "カテゴリーを作成する", new_question_category_path, class: "btn btn-primary"  %>
  </div>
  	 
</div>