<div class="interviewposts-index--wrapper">
  <div class="container-fluid">
    
    <h2 class="page-title-jp">
      <span>面談内容一覧</span>
    </h2>
    
    <table class="table-posts">
      <thead>
      </thead>
      
      <!--新規投稿-->
      <tbody>
        <tr>
          <td class="td-new-post" colspan="2">
        【<%= link_to '新規投稿', new_interview_post_path %>】
          </td>
        </tr>
      </tbody>
      
      <!--投稿の表示-->
      <% @interviewposts.each do |interviewpost| %>
      
        <tbody class="tr-group">
          <tr>
            <!--プロフィール写真-->
            <td class="td-img" rowspan="2">
              <% if interviewpost.user.picture_file %>
                <%= image_tag("/interview_post/get_image/#{interviewpost.user.id}", :class => "icon") %>
              <% else %>
                <%= image_tag('default.png', :class => "icon") %>
              <% end %>
            </td>
            
            <!--メイン情報-->
            <td class="td-main">
              <%= link_to interviewpost.title, interviewpost %>
            </td>
          </tr>
          <tr>
            <td class="td-sub">
              <!--フリーor転職   ※冗長な記述をお許しください。。。-->
              <% if interviewpost.type == 'フリー' %>
                <span class="bg-danger">
                  <%= interviewpost.type %>
                </span> &nbsp;
              <% elsif interviewpost.type == '転職' %>
                <span class="bg-success">
                  <%= interviewpost.type %>
                </span> &nbsp;
              <% end %>
              <!--ユーザー名-->
              by <%= interviewpost.user.nickname %>
              <!--言語・経験-->
              （
              <%= interviewpost.language %>
              ,
              <%= interviewpost.experience %>
              ） &nbsp;
              <!--編集（投稿者のみ表示）-->
              <% if interviewpost.user_id == current_user.id %>
                ［
                  <%= link_to '編集', edit_interview_post_path(interviewpost) %>
                ］
              <% end %>
            </td>
          </tr>
        </tbody>
        
      <% end %><!--@interviewposts.each do |interviewpost|-->
    </table>

  </div>
</div>

<div class="center">
  <%= paginate @interviewposts %>
</div>