<h2 class="page-title">面談内容一覧</h2>

<div class="center">
  <%= link_to '新規登録', new_interview_post_path %>
</div>
<table class="table table-bordered table-striped table-index">
  <thead>
    <tr>
      <th width="60%" class="table-header">案件</th>
      <th class="table-header">言語</th>
      <th class="table-header">経験年数</th>
      <th class="table-header">フリー or 転職</th>
      <th class="table-header">Posted by</th>
    </tr>
  </thead>
  <% @interviewposts.each do |interviewpost| %>
    <tbody>
      <tr>
        <td class="left"><%= link_to interviewpost.title, interviewpost %></td>
        <td class="center"><%= interviewpost.language %></td>
        <td class="center"><%= interviewpost.experience %></td>
        <td class="center"><%= interviewpost.type %></td>
        <td class="center"><%= interviewpost.user.nickname %></td>
      </tr>
    </tbody>
  <% end %>
</table>
<div class="center">
  <%= paginate @interviewposts %>
</div>