<aside class="col-sm-3">
  <div class="panel panel-default">
    <div class="sidebar-wrapper">
    <div class="panel-heading">
      Menu
    </div>
    <ul class="nav nav-pills nav-stacked sidebar-nav">
       <li><%= link_to 'はじめに', root_path %></li>
       <li><%= link_to "フリーとは", signup_path %></li>
       <li><%= link_to "progate", progate_path %></li>
       <li><%= link_to "railsチュートリアル", login_path %></li>
       <li><%= link_to "railsチュートリアル：よくある質問", qa_path %></li>
       <li><%= link_to "できるエンジニアになる", engineer_path %></li>
       <li><%= link_to "就活編", job_path %></li>
       <li><%= link_to "プログラミング勉強編", study_path %></li>
    </ul>
    </div>
    </div>
</aside>

<script>
  $(document).ready(function(){
    <% unless @home_flag %>
      $('#freelance_path').click(function(){
        alert('感想の送信が完了していませんよ＾＾')
        return false;
      })
    <% end %>
    
    <% unless @freelance_flag %>
      $('#program_learn_path').click(function(){
        alert('感想の送信が完了していませんよ＾＾')
        return false;
      })
    <% end %>

    <% unless @program_learn_flag %>
      $('#able_engineer_path').click(function(){
        alert('感想の送信が完了していませんよ＾＾')
        return false;
      })
    <% end %>

    <% unless @able_engineer_flag %>
      $('#job_hunting_path').click(function(){
        alert('感想の送信が完了していませんよ＾＾')
        return false;
      })
    <% end %>
  });
</script>