<div class="sidebar-wrapper">
  
  <div class="sidebar-title">MENU</div>
  
  <ul class="sidebar-list">
    <% @categories_all.each do |category| %>
      <li><%= link_to category.name, movie_category_path(category), class: "#{'disabled' unless before_category_comp?(category)}" %></li>
    <% end %>
    <li><%= link_to 'Progate進捗入力', progate_path, class: "#{'disabled' unless movie_comp?}" %></li>
    <li><%= link_to 'RailsTutorial進捗入力', railstutorial_path, class: "#{'disabled' unless progatetask_tutolialday_comp?}" %></li>
    <li><%= link_to 'ポートフォリオの作り方', portfolio_mv_path, class: "#{'disabled' unless railstutorial_comp?}" %></li>
    <li><%= link_to 'よくある質問', qa_path %></li>
    <li><%= link_to 'Qiita投稿まとめ', qiita_posts_path %></li>
    <li><%= link_to '面談内容共有', interview_posts_path %></li>
  </ul>
</div>