<div class="sidebar-wrapper">
  
  <div class="sidebar-title">MENU</div>
  <ul class="sidebar-list">
  <% unless current_user.guest %>  
    <div class="accordion-item mdl-list__item">
      <div class="question">動画一覧</div>
      <span>∨</span>
			<div class="answer">
      <% if current_user.free_engineer_user %>
        <% free_movie_categories.each do |category| %>
          <li><%= link_to category.name, movie_category_path(category), class: "#{'disabled' unless before_category_comp?(category)}" %></li>
        <% end %>
      <% end %>
      <% if current_user.venture_user %>
        <% venture_movie_categories.each do |category| %>
          <li><%= link_to category.name, movie_category_path(category), class: "#{'disabled' unless before_category_comp?(category)}" %></li>
        <% end %>
      <% end %>
   
      </div>
		</div>
		<li><%= link_to 'イベント一覧', events_path %></li>
    <li><%= link_to 'Progate進捗入力', progate_path, class: "#{'disabled' unless movie_comp?}" %></li>
    <li><%= link_to 'RailsTutorial進捗入力', railstutorial_path, class: "#{'disabled' unless progatetask_tutolialday_comp?}" %></li>
    <li><%= link_to 'ポートフォリオの作り方', portfolio_mv_path, class: "#{'disabled' unless railstutorial_comp? }" %></li>
    <li><%= link_to 'よくある質問', qa_path, class: "#{'disabled' if current_user.try(:guest) }" %></li>
    <li><%= link_to 'Qiita投稿まとめ', qiita_posts_path, class: "#{'disabled' if current_user.try(:guest) }" %></li>
    <li><%= link_to '面談内容共有', interview_posts_path, class: "#{'disabled' if current_user.try(:guest) }" %></li>
    <li><%= link_to 'IT用語解説', terms_path, class: "#{'disabled' if current_user.try(:guest) }" %></li>
    <li><%= link_to 'PDCA報告', pdca_posts_path, class: "#{'disabled' if current_user.try(:guest) }" %></li>
    <li><%= link_to '不具合報告', defect_forms_path  %></li>
    <li><%= link_to 'Blog一覧', blogs_path %></li>
  <% end %>
    <li><%= link_to 'スキルシート一覧', skillsheets_path %></li>
  </ul>
  
</div>
