<%= form_for(feedback) do |f| %>
  <div class="form-group<%= movie_id %>">
    <%= f.text_area :feedback, :id => "textarea#{movie_id}", :size => "7x7", :maxlength => "500",
        :placeholder => "100-500文字で入力してください", required: true, 
        :onchange => "Limit#{movie_id}(event)", :onkeyup => "Limit#{movie_id}(event)" %>
    <%= f.hidden_field :movie_id, :value => movie_id %>
    <br><span id="msg<%= movie_id %>">文字数カウント</span><br><div style="color: red;" class="has-error<%= movie_id %>"></div>
  </div>
    <%= f.submit "感想を送る", id: "feedback-btn#{movie_id}", class: "btn btn-primary btn-lg submit-btn#{movie_id}", disabled: true %>
<% end %>


<!--<%= bootstrap_form_tag url:'/progate', html: {class: 'form-group'}, :remote => true  do |f| %>-->
<!--  <%= f.submit '初級', name: 'begi' ,class: 'btn btn-danger' %>-->
<!--<% end %>-->

<!--<%= bootstrap_form_tag url:'/progate', html: {class: 'form-group'}, :remote => true  do |f| %>-->
<!--    <%= f.submit '中級', name: 'midd' ,class: 'btn btn-danger' %>-->
<!--<% end %>-->

<!--for develop start-->
<!--<div>【検証用】送信ボタン押下-> この下にajaxの送信内容が出力されます</div>-->
<!--<textarea rows="7" cols="7" id="result" ></textarea>-->
<!--for develop end-->

<script>
$(function(){
    $('.form-group<%= movie_id %>').hide();
});
$(function() {
    $('#show-form<%= movie_id %>').click(function(){
        $('.form-group<%= movie_id %>').show();
        $(this).fadeOut();
    });
});
</script>

<script language="JavaScript">
var str1 = document.js.authenticity_token.value;

function Limit<%= movie_id %>(event){
  var Tarea<%= movie_id %>= document.getElementById("textarea<%= movie_id %>");
  var Mcnt<%= movie_id %>= document.getElementById("msg<%= movie_id %>");
  var mojiVal<%= movie_id %> = Tarea<%= movie_id %>.value; //テキストエリアの文字数
  var val<%= movie_id %> = mojiVal<%= movie_id %>.replace(/\n|\r\n/g,"").length;
  var Etype<%= movie_id %> = event.type; //イベントのタイプを取得
if(Etype<%= movie_id %> == "keyup"){//イベントのタイプが"Keyup"なら
  Mcnt<%= movie_id %>.innerHTML = //文字数のカウントを表示
    "<span style='font-weight: bold;color:blue ;'>"+val<%= movie_id %>+"</span>文字";
  }
}

</script>
<script>

$(function(){
    var     $text<%= movie_id %> = $("#textarea<%= movie_id %>"),
            $button<%= movie_id %> = $(".submit-btn<%= movie_id %>"),
            disabled_class = 'disabled';
 
    if($text<%= movie_id %>.val().length == 0) {
        $button<%= movie_id %>.prop('disabled',true).addClass('disabled');
    }
 
    $text<%= movie_id %>.bind('keydown keyup keypress change',function(){
        var thisValueLength = $(this).val().length;
        if(thisValueLength >= 100){
            $button<%= movie_id %>.prop('disabled',false).removeClass(disabled_class);
            $('.has-error<%= movie_id %>').hide();
        }else{
            $button<%= movie_id %>.prop('disabled',true).addClass(disabled_class);
            $('.has-error<%= movie_id %>').text( '100文字以上入力してください' );
            $('.has-error<%= movie_id %>' ).show();
        }
    });
});
</script>

<script>
$(function() {
     $('#feedback-btn').click(function(){
         $(this).val('送信完了');
         $(this).prop('disabled', true);
         $('#Tobj1').fadeOut();
         $('#msg1').fadeOut();
         $('.control-label').fadeOut();
         $('#alert').fadeIn();
     });

     
     $('input[name="chain1"]').click(function(){
         $(this).val('完了')
         $('input[name="chain1"]').prop('disabled', false);
     })
     
     $('input[name="chain2"]').click(function(){
         $(this).val('完了')
         $('input[name="chain2"]').prop('disabled', false);
     })
     
     $('input[name="chain3"]').click(function(){
         $(this).val('完了')
     })
});
</script>
