<nav class="header navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="header-wrapper">
    
      <!--▼ロゴ-->
      <div class="header-logo-wrapper">
        <%= link_to root_path do %>
          <%= image_tag "logo_header.png", id: "logo-header" %>
        <% end %>
      </div>
      
      
      <!--▼リスト-->
      <div class="header-list-wrapper">
        <div class="drawer drawer--right">
          
          <div class="banner">
            <button type="button" class="menu-button-for-sp drawer-toggle drawer-hamburger">
              <span class="drawer-hamburger-icon"></span>
            </button>
            
            <nav class="menu-nav" role="navigation">
              <ul class="menu-ul">
                <% if current_user.try(:admin) %>
                  <li class="menu-li"><%= link_to 'MOVIES EDIT', movies_path, class: "" %></li>
                  <li class="menu-li"><%= link_to 'SIGN UP', signup_path, class: "" %></li>
                <% end %>
                <li class="menu-li"><%= link_to 'SALON MEMBERS', users_path, class: "" %></li>
                <li class="menu-li"> 
                  <% if Feedback.where(user_id: current_user).count == 
                          Movie.where(movie_category_id: MovieCategory.where(must_view: true).ids).count ||
                          current_user.try(:admin) %>
                    <%= link_to 'MY PAGE', current_user, class: "" %>
                  <% else %>
                    <sapn class="caption" title="先に動画を視聴して下さい。">MY PAGE</span>
                  <% end %>
                </li>
                <li class="menu-li"><%= link_to 'LOG OUT', logout_path, class: "", method: :delete %></li>
                
              </ul>
            </nav>
          </div>
          
        </div>
      </div><!--▲リスト-->
    
    </div>
  </div>
</nav>