<header class="main-header">
  
  <!--logo-->
  <!--    <= link_to root_path, class: "link-to-top" do %>-->
  <!--      <= image_tag "logo_header.png", id: "logo-header" %>-->
  <!--    < end %>-->
  <%= link_to 'Celebrity Engineering', root_path, class: "logo" %>
 
  <nav class="navbar navbar-static-top" role="navigation">
    
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- Notifications Menu -->
        <!--<li class="dropdown notifications-menu">-->
        <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
        <!--    <i class="fa fa-bell-o"></i>-->
        <!--    <span class="label label-warning">10</span>-->
        <!--  </a>-->
        <!--</li>-->
        
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <!--<img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
            <% if current_user.picture_file %>
              <%= image_tag(get_image_user_path(current_user), class: "user-image") %>
              <% else %>
              <%= image_tag('default.png', class: "user-image") %>
              <% end %>
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"><%= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              <!--<img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
              <% if current_user.picture_file %>
              <%= image_tag(get_image_user_path(current_user), class: "img-circle") %>
              <% else %>
              <%= image_tag('default.png', class: "img-circle") %>
              <% end %>
              <p><%= current_user.name %></p>
            </li>
            
            <% unless current_user.try(:guest) %>
            
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                  <%= link_to 'SALON MEMBERS', users_path %>
                </div>
              </div>
            </li>
            
            <li class="user-body">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                  <%= link_to 'MY PAGE', current_user %>
                </div>
              </div>
            </li>
            
            <li class="user-body">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 text-center">
                <%= link_to logout_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>Sign Out
                <% end %>
              </div>
            </div>
            </li>
            
            <% end %>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <!--<li>-->
        <!--  <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
        <!--</li>-->
      </ul>
    </div>
  </nav>

</header><!-- end header -->



<!--<div class="header">-->
<!--  <div class="content-wrap">-->
    
    <!--▼ロゴ-->
<!--    <= link_to root_path, class: "link-to-top" do %>-->
<!--      <= image_tag "logo_header.png", id: "logo-header" %>-->
<!--    < end %>-->
    
<!--    <div class="nav-button" >-->
<!--      <span></span>-->
<!--      <span></span>-->
<!--      <span></span>-->
<!--    </div>-->
    
<!--    <nav class="nav-wrap">-->
<!--      <ul class="nav-ul">-->
<!--        < unless current_user.try(:guest) %>-->
<!--        <li><= link_to 'TOP', root_path %></li>-->
<!--        < end %>-->
        
        <!--adminのみ表示-->
<!--        < if current_user.admin? %>-->
<!--          <li><= link_to 'MOVIES EDIT', movies_path %></li>-->
<!--          <li><= link_to 'INFO EDIT', information_path %></li>-->
<!--          <li><= link_to 'BLOG EDIT', new_blog_path %></li>-->
<!--          <li><= link_to 'SIGN UP', signup_path %></li>-->
<!--        < end %>-->
        
        <!--全ユーザー-->
<!--        < unless current_user.try(:guest) %>-->
<!--        <li><= link_to 'SALON MEMBERS', users_path %></li>-->
<!--        <li><= link_to 'MY PAGE', current_user %></li>-->
<!--        < end %>-->
<!--        <li><= link_to 'LOG OUT', logout_path, method: :delete %></li>-->
<!--      </ul>-->
<!--    </nav>-->
    
<!--  </div>-->
<!--</div>-->

<!--<script>-->
<!--  (function() {-->
<!--    $('.nav-button').on('click',function(){-->
<!--      if( $(this).hasClass('active') ){-->
<!--        $(this).removeClass('active');-->
<!--        $('.nav-wrap').addClass('close').removeClass('open');-->
<!--      }else {-->
<!--        $(this).addClass('active');-->
<!--        $('.nav-wrap').addClass('open').removeClass('close'); -->
<!--      }-->
<!--    });-->
<!--  }());-->
<!--</script>-->