<nav class="header navbar navbar-fixed-top">
  <div class="navbar-wrapper container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">メニュー</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <%= link_to root_path do %>
        <%= image_tag "logo_header.png", id: "logo-header" %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.try(:admin) %>
          <li><%= link_to 'MOVIES EDIT', movies_path %></li>
          <li><%= link_to 'SIGN UP', signup_path %></li>
        <% end %>
        <li><%= link_to 'SALON MEMBERS', users_path %></li>
        <li><%= link_to 'MY PAGE', current_user %></li>
        <li><%= link_to 'LOG OUT', logout_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</nav>