<!DOCTYPE html>
<html>
  
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>セレブエンジニア</title>

    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/languages/jquery.validationEngine-ja.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery.validationEngine.min.js" type="text/javascript" charset="utf-8"></script>

    
    <%= favicon_link_tag('favicon32.png') %>
  </head>
  
  
  <!--アラートをyield化-->
  <% content_for :alert_message do %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  <% end %>
  
  
  <!--bodyに適用するクラス名の設定-->
  <%
  if content_for?(:entrance)
    classname = 'body-entrance'
  else
    classname = 'body'
  end
  %>
  

  <!--body-->
  <body class="<%= classname %>">
    
    <% if content_for?(:entrance) %>
    
      <%= yield :alert_message %>
      
      
      <%= yield :entrance %>
    
    <%  else %>
      
      <!--ナビゲーションバー-->
      <%= render 'layouts/navbar' %>
      
      <div class="body-wrapper">
        <!--トップ画像-->
        <div class="img-top-wrapper">
          <%= image_tag "img_top.png", id: "img-top" %>
        </div>
        
        <div class="main-wrapper">
          <div class="container-fluid">
            
            <%= yield :alert_message %>
            
            <!--表示を分岐（サイドバーの有無）-->
            <% if content_for?(:without_sidebar) %>
              
              <!--yield（サイドバーなし）-->
              <%= yield :without_sidebar %>
            
            <% else %>
            
              <div class="row">
                <!--yield（デフォルト）-->
                <div class="col-md-7">
                  <%= yield %>
                </div>
                <!--サイドバー-->
                <aside class="col-md-5">
                  <%= render 'layouts/aside' %>
                </aside>
              </div>
            
            <% end %>
        
          </div><!-- container-fluid -->
        </div><!-- main-wrapper -->
      </div><!-- body-wrapper -->

      <!--フッター-->
      <%= render 'layouts/footer' %>
      <script>
        $('form').validationEngine({validationEventTrigger:'keyup'});
      </script>
        
    </body>
  <% end %><!-- if content_for?(:entrance) -->
</html>