<!DOCTYPE html>
<html>
  
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>セレブエンジニア</title>

    <%= csrf_meta_tags %>
    
    <!--CSSを別ファイルから読み込み-->
    <%= render 'layouts/stylesheets' %>
    
    <!--JSはbody最下部で読み込み（layouts/javascripts）-->

    <!--fabiconの読み込み-->
    <%= favicon_link_tag('favicon32.png') %>
  </head>
  
  
  <!--アラートをyield化-->
  <% content_for :alert_message do %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  <% end %>
  
  
  <!--bodyに適用するクラス名の設定-->
  <%
  if content_for?(:entrance)
    classname = 'body-entrance'
  else
    classname = 'body skin-black fixed hold-transition sidebar-mini'
  end
  %>
  

  <!--body-->
  <body class="<%= classname %>">
    
    <% if content_for?(:entrance) %>
    
      <%= yield :alert_message %>
      
      <%= yield :entrance %>
    
    <%  else %>
      
      <div class="wrapper">

        <%= render 'layouts/navbar' %>

        <%= render 'layouts/aside' %>
              
        <!-- content -->
        <div class="content-wrapper">

            <!-- コンテンツヘッダ -->
            <section class="content-header">
                <h1>ページタイトル</h1>
            </section>

            <!-- メインコンテンツ -->
            <section class="content">
  
              <%= yield :alert_message %>
              
              <%= yield %>

            </section>

        </div><!-- end content -->

        <!-- フッター -->
        <footer class="main-footer">
            <%= render 'layouts/footer' %>
        </footer><!-- end footer -->

      </div><!-- end wrapper -->
    <% end %><!-- if content_for?(:entrance) -->
    

    <!--JSを別ファイルから読み込み-->
    <%= render 'layouts/javascripts' %>
    
    <script>
      // $('form').validationEngine({validationEventTrigger:'keyup'});
    </script>
    
      
  </body>
    
</html>