    <%= f.label :picture, "イベント画像選択", class: 'text1' %>
　　<%= f.file_field :picture , accept: 'image/*' %>
    
    <%= f.label :title, "イベントタイトル（15文字程度）", class: 'txt1' %>
    <%= f.text_field :title, placeholder: "リアル勉強会", class: 'form-control' %>

    <%= f.label :date, '開催日', class: 'txt1' %>
    <%= f.date_field :date, class: 'form-control validate[required] text-input' %>
    
    <%= f.label :question, '詳細', class: 'txt1' %>
  <%= f.text_area :text, rows: 15, placeholder: "場所や概要など", class: 'form-control validate[required,maxSize[1500]] text-input',
   :onkeyup => "TextLength(value);" %>
  <p id="text-input-length">0文字</p>
  
  


<script>
  function countLength( text, field ) {
    document.getElementById(field).innerHTML = text.length + "文字";
  }
  
  function TextLength( str ) {
    document.getElementById("text-input-length").innerHTML = str.length + "文字";
  }
</script>