<h1 class="txt2">サロンメンバー</h1>

<ul class-"txt1 users">
  <% @users.each do |user| %>
    <li class="txt1">
      <%= link_to user.nickname, user %>
      <%= user.email %>
      <%= user.name %>
    </li>
    <table border="1">
      <thead>
        <tr>
          <th>動画視聴率</th>
          <th>Progate</th>
          <th>Rails Tutorial</th>
          <th>ポートフォリオ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= percent_movie(user) %>%</td>
          <td><%= percent_progate(user) %>%</td>
          <td><%= count_rails_tutorial(user) %>章完了</td>
          <td><%= user.try(:portfolio_path) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</ul>
<style type="text/css">
.txt1{
  font-size: 2vw;
}
.txt2{
  font-size: 6vw;
}
.txt3{
  font-size: 3vw;
}
.btn-delete{
  font-size: 1vw;
  position:relative;
  right: 3em
}
</style>