      <%= f.label :name, "名前", class: 'txt1' %>
      <%= f.date_field :date, class: 'form-control validate[required] text-input' %>
      
      <%= f.label :mail, "アドレス", class: 'txt1' %>
      <%= f.text_area :mail, class: 'form-control validate[required,maxSize[1000]] text-input', :onkeyup => "PlanLength(value);" %>
      
      <%= f.label :type, "種別", class: 'txt1' %>
      <%= f.text_area :type, class: 'form-control validate[required,maxSize[1000]] text-input', :onkeyup => "DoLength(value);" %>

      
      <%= f.label :contants, "内容", class: 'txt1' %>
      <%= f.text_area :contants, class: 'form-control validate[required,maxSize[1000]] text-input', :onkeyup => "CheckLength(value);" %>
      
      
      <%= f.hidden_field :user_id, :value => current_user.id %>
      
    <div class="center mt_20">
        <%= f.submit '送信', {class: 'btn btn-default active post-regist' }%>
  　</div>
  　