<div class="top-index--wrapper">
  <div class="welcome-message--wrapper">
    <p><%= current_user.name %>さんこんにちは！</p>
    <p>今日も一日頑張りましょう🎶</p>
  </div>
      
  <% #day = Date.today %>
  <!--完了予定日の参照変更中のため一旦コメントアウト-->
  
  <!--アラート-->
  <div class="messages-wrap">
    <!--HTML-->
    <h4><%= @ga_beginner_completion + "→【AWS Cloud9を使ってプログラミングの環境構築をしよう】" if @ga_beginner_completion.present? %></h4>
    <h4><%= @ga_middle_completion + "→【HTML&CSSの基礎を学ぼう】" if @ga_middle_completion.present? %></h4>
    <h4><%= @ga_advanced_completion + "→【】" if @ga_advanced_completion.present? %></h4>
    <h4><%= @do_beginner_completion + "→【】" if @do_beginner_completion.present? %></h4>
    <h4><%= @do_middle_completion + "→【】" if @do_middle_completion.present? %></h4>
    <h4><%= @do_advanced_completion + "→【】" if @do_advanced_completion.present? %></h4>
    <h4><%= @ji_1_completion + "→【】" if @ji_1_completion.present? %></h4>
    <h4><%= @ji_2_completion + "→【】" if @ji_2_completion.present? %></h4>
    <!--JS-->
    <h4><%= @js_ga_1_completion + "→【JavaScriptの基礎を学ぼう】" if @js_ga_1_completion.present? %></h4>
    <h4><%= @js_ga_2_completion + "→【】" if @js_ga_2_completion.present? %></h4>
    <h4><%= @js_ga_3_completion + "→【】" if @js_ga_3_completion.present? %></h4>
    <h4><%= @js_ga_4_completion + "→【】" if @js_ga_4_completion.present? %></h4>
    <h4><%= @js_do_1_completion + "→【】" if @js_do_1_completion.present? %></h4>
    <!--Ruby-->
    <h4><%= @ruby_ga_1_completion + "→【Rubyの基礎を学ぼう】" if @ruby_ga_1_completion.present? %></h4>
    <h4><%= @ruby_ga_2_completion + "→【Rubyの基礎を学ぼう（メソッド編）】" if @ruby_ga_2_completion.present? %></h4>
    <h4><%= @ruby_ga_3_completion + "→【】" if @ruby_ga_3_completion.present? %></h4>
    <h4><%= @ruby_ga_4_completion + "→【】" if @ruby_ga_4_completion.present? %></h4>
    <h4><%= @ruby_ga_5_completion + "→【】" if @ruby_ga_5_completion.present? %></h4>
    <!--Rails-->
    <h4><%= @rails_ga_1_completion + "→【1】Ruby on Railsで簡単なSNSアプリを作ろう" if @rails_ga_1_completion.present? %></h4>
    <h4><%= @rails_ga_2_completion + "→【1.5】Gitを導入しよう" if @rails_ga_2_completion.present? %></h4>
    <h4><%= @rails_ga_3_completion + "→【2】Ruby on Railsで投稿一覧画面を作ろう" if @rails_ga_3_completion.present? %></h4>
    <h4><%= @rails_ga_4_completion + "→【3】Ruby on Railsで投稿詳細画面を作ろう" if @rails_ga_4_completion.present? %></h4>
    <h4><%= @rails_ga_5_completion + "→【4】Ruby on Railsで投稿の編集・削除機能を作ろう" if @rails_ga_5_completion.present? %></h4>
    <h4><%= @rails_ga_6_completion + "→【5】Ruby on Railsで投稿内容を制限する機能を作ろう" if @rails_ga_6_completion.present? %></h4>
    <h4><%= @rails_ga_7_completion + "→【6】Ruby on Railsでユーザーの登録機能を作ろう" if @rails_ga_7_completion.present? %></h4>
    <h4><%= @rails_ga_8_completion + "→【7】Ruby on Railsでユーザーごとの画像設定機能を作ろう" if @rails_ga_8_completion.present? %></h4>
    <h4><%= @rails_ga_9_completion + "→【8】Ruby on Railsでログイン機能を作ろう" if @rails_ga_9_completion.present? %></h4>
    <h4><%= @rails_ga_10_completion + "→【9】Ruby on Railsで投稿とユーザーを関連付ける機能を学ぼう" if @rails_ga_10_completion.present? %></h4>
    <h4><%= @rails_ga_11_completion + "→【番外編】Ruby on Railsでの日時の取り扱いについて学ぼう" if @rails_ga_11_completion.present? %></h4>
    <h4><%= @rails_do_1_completion + "→【】" if @rails_do_1_completion.present? %></h4>
    <h4><%= @rails_do_2_completion + "→【】" if @rails_do_2_completion.present? %></h4>
    <h4><%= @rails_do_3_completion + "→【】" if @rails_do_3_completion.present? %></h4>
    <h4><%= @rails_do_4_completion + "→【】" if @rails_do_4_completion.present? %></h4>
    <!--Other-->
    <h4><%= @alert_messages_railstutorial + "→【誰でもわかる勤怠システム】" if @alert_messages_railstutorial.present? %></h4>
    <h4><%= @alert_message_mv + "未視聴の動画があります" if @alert_message_mv.present? %></h4>
  </div>
    
  <!--お知らせ-->
  <% if !@information.empty? %>
      <div id="inline-popups">
        <h4><a id="hoge" href="#test-popup" data-effect="mfp-zoom-in">お知らせ</a></h4>
      </div>
    <div id="test-popup" class="white-popup mfp-with-anim mfp-hide">
      <% i = 1 %>
      <% @information.each do |info| %>
        <h5 align="left">【お知らせ<%= i %>】</h5>
        <span type="text">
          <%= info.info %>
        </span><br/>
        <% i = i + 1 %>
      <% end %>
    </div>
  <% end %>

  <script>
    // $('#inline-popups').magnificPopup({
    //   delegate: 'a',
    //   removalDelay: 500,
    //   callbacks: {
    //     beforeOpen: function() {
    //       this.st.mainClass = this.st.el.attr('data-effect');
    //     },
    //   },
    // });
  </script>
  
  <!-- 期間中のお知らせがあればページ読み込み時に強制表示 -->
  <% if !@information.empty? %>
    <script>
        //cokkieのaccessの値で判定
        if(!$.cookie("info")){
	        // 未読の場合はお知らせ表示
          // $('#hoge')[0].click();
          // 既読を一日間保持
          $.cookie("info","readed", { expires: 1 });
	      }
    </script>
  <% end %>

  <h2 class="page-title-j">
    <span class="page-title-jp">はじめに</span>
  </h2>
  
  <h3 class="study-top">以下のカリキュラムをこなすことで、フリーになるためのスキルが最短で身に付きます。</h3>
  
  <div class="study-flow">
    <p class="study-title">フリーエンジニアになる為のマインドセットを動画で学習</p>
    <%= link_to movie_category_path(@incomp_category_id) do %>
      <p class="study-detail">
        動画一覧にある動画を初めから順に視聴しましょう。<br>
        各動画を見た後に感想を記入して送信して下さい。<br>
        ※全動画を視聴後、マイページに移動出来ます。
      </p>
    <% end %>
    
    <div class="arrow">
      <img src="arrow.png">
    </div>
    
    <p class="study-title">プログラミングの基礎を学習</p>
    <div class="study-box">
      <%= link_to 'https://qiita.com/Nukioman/private/dc19899881806d43e9a7', class:"#{'disabled' unless movie_comp?}" do %>
        <p class="study-detail">
          独自の教材でプログラミングの学習を進めましょう。<br>
          「AWS Cloud9を使ってプログラミングの環境構築をしよう」<br>
          「HTML & CSSの基礎を学ぼう」<br>
          「JavaScriptの基礎を学ぼう」<br>
          「Rubyの基礎を学ぼう」<br>
          「Rubyの基礎を学ぼう【メソッド編】」<br>
          「Ruby on Railsで簡単なSNSアプリを作ろう」<br>
          以上のコースを全て完了して下さい。
        </p>
        <% unless movie_comp? %>
          <span class="study-remark">まずは動画を全てご覧下さい。</span>
        <% end %>
      <% end %>
    </div>
    
    <div class="arrow">
      <img src="arrow.png">
    </div>
    
    <p class="study-title">Webアプリケーション開発の基礎を学習</p>
    <div class="study-box">
      <%= link_to 'https://qiita.com/Nukioman/private/dc19899881806d43e9a7', class:"#{'disabled' unless progatetask_tutolialday_comp?}" do %>
        <p class="study-detail">
          「誰でもわかる勤怠システムチュートリアル」を1章から10章まで全て完了して下さい。
        </p>
        <% unless progatetask_tutolialday_comp? %>
          <span class="study-remark">プログラミングの基礎コースを全て終わらせましょう。</span>
        <% end %>
      <% end %>
    </div>
    
    <div class="arrow">
      <img src="arrow.png">
    </div>
    
    <p class="study-title">Webアプリケーション開発を実践①</p>
    <div class="study-box">
      <%= link_to 'https://qiita.com/Nukioman/private/dc19899881806d43e9a7', class:"#{'disabled' unless progatetask_tutolialday_comp?}" do %>
        <p class="study-detail">
          「誰でもわかる勤怠システムチュートリアル」で作成した勤怠システムに機能を加えて、イチから皆さんに開発してもらいます。<br>
          開発するアプリケーションは「勤怠B」となります。
        </p>
      <% end %>
    </div>
    
    <div class="arrow">
      <img src="arrow.png">
    </div>
    
    <p class="study-title">Webアプリケーション開発を実践②</p>
    <div class="study-box">
      <%= link_to 'https://qiita.com/Nukioman/private/dc19899881806d43e9a7', class:"#{'disabled' unless progatetask_tutolialday_comp?}" do %>
        <p class="study-detail">
          「勤怠B」で開発したアプリケーションに更なる仕様が加わった、<br>
          「勤怠A」を開発してもらいます。
        </p>
      <% end %>
    </div>
    
    <div class="arrow">
      <img src="arrow.png">
    </div>
    
    <p class="study-title">人工インターン</p>
    <div class="study-box">
      <%= link_to 'https://qiita.com/Nukioman/private/dc19899881806d43e9a7', class:"#{'disabled' unless progatetask_tutolialday_comp?}" do %>
        <p class="study-detail">
          ここまでの皆さんの実績をもとに、実際の案件に携わる形式で開発してもらいます。
        </p>
      <% end %>
    </div>
    
    <div class="arrow">
      <img src="arrow.png">
    </div>
    
    <p class="study-title">自身のコンテンツとなるWebアプリケーションを開発</p>
    <div class="study-box">
      <%= link_to movie_category_path(5) do %>
        <p class="study-detail">
          ここまでのカリキュラムが完了したら、面談等で使用するポートフォリオを作成します。<br>
          ※作り方等の詳細に関しては動画でご確認下さい
        </p>
      <% end %>
    </div>
  </div>
    
  <div class="information">
    <div class="information-head">
      新着動画
    </div>
    
    <div class="information-body">
      <% if @new_movies.present? %>
        <div class="information-title">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
          まだ視聴していない動画はありませんか！？
        </div>
        <ul class="information-list">
          <% if current_user.free_engineer_user && current_user.venture_user && current_user.staff_user%>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <div class="information-box">
                  <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                  <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                </div>
              <% end %>
            <% end %>
          <% elsif current_user.free_engineer_user && current_user.venture_user %>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <% if movie.movie_category&.subject&.in?(['free', 'venture']) %>
                  <div class="information-box">
                    <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                    <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% elsif current_user.free_engineer_user && current_user.staff_user %>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <% if movie.movie_category&.subject&.in?(['free', 'staff']) %>
                  <div class="information-box">
                    <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                    <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% elsif current_user.venture_user && current_user.staff_user %>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <% if movie.movie_category&.subject&.in?(['venture', 'staff']) %>
                  <div class="information-box">
                    <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                    <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% elsif current_user.free_engineer_user %>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <% if movie.movie_category&.subject&.in?(['free']) %>
                  <div class="information-box">
                    <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                    <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% elsif current_user.venture_user %>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <% if movie.movie_category&.subject&.in?(['venture']) %>
                  <div class="information-box">
                    <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                    <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% elsif current_user.staff_user %>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <% if movie.movie_category&.subject&.in?(['staff']) %>
                  <div class="information-box">
                    <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                    <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <div class="information-title">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
          <p class="inline">直近1週間に投稿された動画はありません。</p>              
        </div>
      <% end %>
    </div>
  </div>
</div>