<div class="top-index--wrapper">
      
  <div class="welcome-message--wrapper">
    <p><%= current_user.nickname %>さんこんにちは！</p>
    <p>今日も一日頑張りましょう♪</p>
  </div>
    
  <% day = Date.today %>
  <!--ここにアラート入れる-->
  <!--完了予定日の参照変更中のため一旦コメントアウト
  <h4 style="color:red;"><%= @alert_messages_html + "→【Progate:HTML&CSSコース】" if @alert_messages_html.present? %></h4>
  <h4 style="color:red;"><%= @alert_messages_javascript + "→【Progate:javascriptコース】" if @alert_messages_javascript.present? %></h4>
  <h4 style="color:red;"><%= @alert_messages_ruby + "→【Progate:rubyコース】" if @alert_messages_ruby.present? %></h4>
  <h4 style="color:red;"><%= @alert_messages_rubyonrails + "→【Progate:ruby on railsコース】" if @alert_messages_rubyonrails.present? %></h4>
  -->
  <h4 style="color:red;"><%= @alert_messages_railstutorial + "→【railsチュートリアル】" if @alert_messages_railstutorial.present? %></h4>
  <h4 style="color:red;"><%= @alert_message_mv + "まだ見終わっていない動画があります" if @alert_message_mv.present? %></h4>
  
  <h2 class="page-title-jp">
    <span>はじめに</span>
  </h2>

  <ol class="produce-list">
    <li>このサイトのカリキュラムをこなすことで、フリーになるためのスキルが最短で身につきます。</li>
    <li>まずはマインドセットを動画で学習します。一覧の最初の動画から順に動画を視聴してください。各動画を見た後に、感想を記入して送信してください。(全動画を視聴後、マイページに移動出来ます。)</li>
    <li>次に、プログラミングの基礎を身につけます。プログラミング学習サイト「Progate」を使い、「HTML & CSS」「JavaScript」「Ruby」「Ruby on Rails5」のコースを全て終了させてください。</li>
    <li>次に、「Ruby on Rails チュートリアル」1章〜14章まで全て終了させてください。アプリケーション開発の基礎について学習することができます。</li>
    <li>チュートリアルが完了したら、面談などで使用するポートフォリオ（自作のWebアプリケーション）を作成します。作り方等詳細については動画で確認してください。</li>
  </ol>
    
  <div class="information">
    
    <div class="information-head">新着動画</div>
    
    <div class="information-body">
      <% if @new_movies.present? %>
      
        <div class="information-title">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
          まだ視聴していない動画はありませんか！？
        </div>
        <ul class="information-list">
          <% @new_movies.each do |movie| %>
            <li><%= movie.title %></li>
          <% end %>
        </ul>
        
      <% else %>
      
        <div class="information-title">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
          <p class="inline">直近1週間に投稿された動画はありません。</p>              
        </div>
        
      <% end %>
    </div>
  </div>
    
</div>