<div class="top-index--wrapper">
  
  <div class="welcome-message--wrapper">
    <p><%= current_user.name %>さんこんにちは！</p>
    <p>今日も一日頑張りましょう🎶</p>
  </div>
      
  <% #day = Date.today %>
  <!--完了予定日の参照変更中のため一旦コメントアウト-->
  
  <!--アラート-->
  <div class="messages-wrap">
    <!--HTML-->
    <h4><%= @ga_beginner_completion + "→【Progate:HTML&CSS 学習コース/初級】" if @ga_beginner_completion.present? %></h4>
    <h4><%= @ga_middle_completion + "→【Progate:HTML&CSS 学習コース/中級】" if @ga_middle_completion.present? %></h4>
    <h4><%= @ga_advanced_completion + "→【Progate:HTML&CSS 学習コース/上級】" if @ga_advanced_completion.present? %></h4>
    <h4><%= @do_beginner_completion + "→【Progate:HTML&CSS 道場コース/初級】" if @do_beginner_completion.present? %></h4>
    <h4><%= @do_middle_completion + "→【Progate:HTML&CSS 道場コース/中級】" if @do_middle_completion.present? %></h4>
    <h4><%= @do_advanced_completion + "→【Progate:HTML&CSS 道場コース/上級】" if @do_advanced_completion.present? %></h4>
    <h4><%= @ji_1_completion + "→【Progate:HTML&CSS 実践コース 1】" if @ji_1_completion.present? %></h4>
    <h4><%= @ji_2_completion + "→【Progate:HTML&CSS 実践コース 2】" if @ji_2_completion.present? %></h4>
    <!--JS-->
    <h4><%= @js_ga_1_completion + "→【Progate:JavaScript 学習コース 1】" if @js_ga_1_completion.present? %></h4>
    <h4><%= @js_ga_2_completion + "→【Progate:JavaScript 学習コース 2】" if @js_ga_2_completion.present? %></h4>
    <h4><%= @js_ga_3_completion + "→【Progate:JavaScript 学習コース 3】" if @js_ga_3_completion.present? %></h4>
    <h4><%= @js_ga_4_completion + "→【Progate:JavaScript 学習コース 4】" if @js_ga_4_completion.present? %></h4>
    <h4><%= @js_do_1_completion + "→【Progate:JavaScript 道場コース 1】" if @js_do_1_completion.present? %></h4>
    <!--Ruby-->
    <h4><%= @ruby_ga_1_completion + "→【Progate:ruby 学習コース 1】" if @ruby_ga_1_completion.present? %></h4>
    <h4><%= @ruby_ga_2_completion + "→【Progate:ruby 学習コース 2】" if @ruby_ga_2_completion.present? %></h4>
    <h4><%= @ruby_ga_3_completion + "→【Progate:ruby 学習コース 3】" if @ruby_ga_3_completion.present? %></h4>
    <h4><%= @ruby_ga_4_completion + "→【Progate:ruby 学習コース 4】" if @ruby_ga_4_completion.present? %></h4>
    <h4><%= @ruby_ga_5_completion + "→【Progate:ruby 学習コース 5】" if @ruby_ga_5_completion.present? %></h4>
    <!--Rails-->
    <h4><%= @rails_ga_1_completion + "→【Progate:ruby on rails 学習コース 1】" if @rails_ga_1_completion.present? %></h4>
    <h4><%= @rails_ga_2_completion + "→【Progate:ruby on rails 学習コース 2】" if @rails_ga_2_completion.present? %></h4>
    <h4><%= @rails_ga_3_completion + "→【Progate:ruby on rails 学習コース 3】" if @rails_ga_3_completion.present? %></h4>
    <h4><%= @rails_ga_4_completion + "→【Progate:ruby on rails 学習コース 4】" if @rails_ga_4_completion.present? %></h4>
    <h4><%= @rails_ga_5_completion + "→【Progate:ruby on rails 学習コース 5】" if @rails_ga_5_completion.present? %></h4>
    <h4><%= @rails_ga_6_completion + "→【Progate:ruby on rails 学習コース 6】" if @rails_ga_6_completion.present? %></h4>
    <h4><%= @rails_ga_7_completion + "→【Progate:ruby on rails 学習コース 7】" if @rails_ga_7_completion.present? %></h4>
    <h4><%= @rails_ga_8_completion + "→【Progate:ruby on rails 学習コース 8】" if @rails_ga_8_completion.present? %></h4>
    <h4><%= @rails_ga_9_completion + "→【Progate:ruby on rails 学習コース 9】" if @rails_ga_9_completion.present? %></h4>
    <h4><%= @rails_ga_10_completion + "→【Progate:ruby on rails 学習コース 10】" if @rails_ga_10_completion.present? %></h4>
    <h4><%= @rails_ga_11_completion + "→【Progate:ruby on rails 学習コース 11】" if @rails_ga_11_completion.present? %></h4>
    <h4><%= @rails_do_1_completion + "→【Progate:ruby on rails 道場コース 1】" if @rails_do_1_completion.present? %></h4>
    <h4><%= @rails_do_2_completion + "→【Progate:ruby on rails 道場コース 2】" if @rails_do_2_completion.present? %></h4>
    <h4><%= @rails_do_3_completion + "→【Progate:ruby on rails 道場コース 3】" if @rails_do_3_completion.present? %></h4>
    <h4><%= @rails_do_4_completion + "→【Progate:ruby on rails 道場コース 4】" if @rails_do_4_completion.present? %></h4>
    <!--Other-->
    <h4><%= @alert_messages_railstutorial + "→【誰でもわかる勤怠システム】" if @alert_messages_railstutorial.present? %></h4>
    <h4><%= @alert_message_mv + "まだ見終わっていない動画があります" if @alert_message_mv.present? %></h4>
  </div>
    
  <!--お知らせ-->
  <% if !@information.empty? %>
      <div id="inline-popups">
        <h4><a id="hoge" href="#test-popup" data-effect="mfp-zoom-in">お知らせ</a></h4>
      </div>
    <div id="test-popup" class="white-popup mfp-with-anim mfp-hide">
      <% i = 1 %>
      <% @information.each do |info| %>
        <h5 align="left">【お知らせ<%= i %>】</h5>
        <span type="text">
          <%= info.info %>
        </span><br/>
        <% i = i + 1 %>
      <% end %>
    </div>
  <% end %>

  <script>
    // $('#inline-popups').magnificPopup({
    //   delegate: 'a',
    //   removalDelay: 500,
    //   callbacks: {
    //     beforeOpen: function() {
    //       this.st.mainClass = this.st.el.attr('data-effect');
    //     },
    //   },
    // });
  </script>
  
  <!-- 期間中のお知らせがあればページ読み込み時に強制表示 -->
  <% if !@information.empty? %>
    <script>
        //cokkieのaccessの値で判定
        if(!$.cookie("info")){
	        // 未読の場合はお知らせ表示
          // $('#hoge')[0].click();
          // 既読を一日間保持
          $.cookie("info","readed", { expires: 1 });
	      }
    </script>
  <% end %>

  <h2 class="page-title-j">
    <span class="page-title-jp">はじめに</span>
  </h2>
  
  <h3 class="study-top">以下のカリキュラムをこなすことで、フリーになるためのスキルが最短で身に付きます。</h3>
  <div class="study-flow">
    <p class="study-title">マインドセットを動画で学習</p>
    <%= link_to movie_category_path(@incomp_category_id) do %>
      <p class="study-detail">動画一覧にある動画を初めから順に視聴して下さい。
        各動画を見た後に感想を記入して送信して下さい。 ※全動画を視聴後、マイページに移動出来ます</p>
    <% end %>
    <div class="arrow">
      <img src="arrow.png">
    </div>
    
    <p class="study-title">プログラミングの基礎を学習</p>
    <div class="study-box">
      <%= link_to 'https://prog-8.com', class:"#{'disabled' unless movie_comp?}" do %>
        <p class="study-detail">プログラミング学習サイト「Progate」を使い、
          「HTML & CSS」「JavaScript」「Ruby」「Ruby on Rails5」のコースを全て終了させて下さい。</p>
        <% unless movie_comp? %><span class="study-remark">まずは動画を全てご覧下さい</span><% end %>
      <% end %>
    </div>
    <div class="arrow">
      <img src="arrow.png">
    </div>
    
    <p class="study-title">アプリケーション開発の基礎を学習</p>
    <div class="study-box">
      <%= link_to 'https://qiita.com/Nukioman/private/754f0538e4b33aa56d2d/', class:"#{'disabled' unless progatetask_tutolialday_comp?}" do %>
        <p class="study-detail">「誰でもわかる勤怠システム」1章〜10章まで全て終了させて下さい。</p>
        <% unless progatetask_tutolialday_comp? %><span class="study-remark">Progateを終わらせて下さい</span><% end %>
      <% end %>
    </div>
    <div class="arrow">
      <img src="arrow.png">
    </div>
    
    <p class="study-title">ＷＥＢアプリケーションの作成</p>
    <div class="study-box">
      <%= link_to movie_category_path(5), class:"#{'disabled' unless railstutorial_comp?}" do %>
        <p class="study-detail">チュートリアルが完了したら、面談等で使用するポートフォリオを作成します。<br>
          ※作り方等の詳細に関しては動画でご確認下さい</p>
        <% unless railstutorial_comp? %><span class="study-remark">チュートリアルを終わらせて下さい</span><% end %>
      <% end %>
    </div>
  </div>
    
  <div class="information">
    
    <div class="information-head">新着動画</div>
    
    <div class="information-body">
      <% if @new_movies.present? %>
      
        <div class="information-title">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
          まだ視聴していない動画はありませんか！？
        </div>
        <ul class="information-list">
          <% if current_user.free_engineer_user && current_user.venture_user && current_user.staff_user%>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <div class="information-box">
                  <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                  <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                </div>
              <% end %>
            <% end %>
          <% elsif current_user.free_engineer_user && current_user.venture_user %>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <% if movie.movie_category&.subject&.in?(['free', 'venture']) %>
                  <div class="information-box">
                    <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                    <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% elsif current_user.free_engineer_user && current_user.staff_user %>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <% if movie.movie_category&.subject&.in?(['free', 'staff']) %>
                  <div class="information-box">
                    <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                    <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% elsif current_user.venture_user && current_user.staff_user %>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <% if movie.movie_category&.subject&.in?(['venture', 'staff']) %>
                  <div class="information-box">
                    <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                    <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% elsif current_user.free_engineer_user %>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <% if movie.movie_category&.subject&.in?(['free']) %>
                  <div class="information-box">
                    <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                    <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% elsif current_user.venture_user %>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <% if movie.movie_category&.subject&.in?(['venture']) %>
                  <div class="information-box">
                    <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                    <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% elsif current_user.staff_user %>
            <% @new_movies.each do |movie| %>
              <%= link_to movie_category_path(movie.movie_category_id) do %>
                <% if movie.movie_category&.subject&.in?(['staff']) %>
                  <div class="information-box">
                    <div class="box-title"><p>【<%= movie.movie_category.name %>】<br><%= movie.title %></p></div>
                    <span class="frame-cover"></span><div class="frame"><li><iframe frameborder="1" src="<%= movie.path %>"></iframe></li></div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
        
      <% else %>
      
        <div class="information-title">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
          <p class="inline">直近1週間に投稿された動画はありません。</p>              
        </div>
        
      <% end %>
    </div>
  </div>
    
</div>