<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@movie) do |f| %>
    
      <%= f.label :title, "タイトル", class: 'txt3' %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :path, "埋め込みURL", class: 'txt3' %>
      <%= f.text_field :path, class: 'form-control' %>

      <%= f.label :movie_category_id, 'カテゴリ', class: 'txt3' %>
      <%= f.select :movie_category_id, @categories, class: 'form-control' %>

      <div id="centering">
        <%= f.submit "登録", class: "btn-log btn btn-default active" %>
      </div>
    <% end %>
  </div>
</div>