<h2 class="page-title">
  <span>USER EDIT</span>
</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, html:{:id => 'user-edit-form'}) do |f| %>
      <%= render partial: 'shared/error_messages', locals: { object: @user } %>
      <% if current_user?(@user) %>
        <%= f.label :name, "氏名", class: 'form-entrance--label' %>
        <%= f.text_field :name, class: 'form-entrance--textbox validate[required,maxSize[10]] text-input', :onkeyup => "NameLength(value);" %>
        <p id="name-input-length">0文字</p>
  
        <%= f.label :email, 'Email', class: 'form-entrance--label' %>
        <%= f.email_field :email, class: 'form-entrance--textbox validate[required,maxSize[50]] text-input', :onkeyup => "EmailLength(value);" %>
        <p id="email-input-length">0文字</p>
        
        <%= f.label :line_id, "LINE ID", class: 'form-entrance--label' %>
        <%= f.text_field :line_id, class: 'form-entrance--textbox validate[required,maxSize[20]] text-input', :onkeyup => "LineIdLength(value);" %>
        <p id="lineid-input-length">0文字</p>
  
        <%= f.label :password, 'パスワード', class: 'form-entrance--label' %>
        <%= f.password_field :password, class: 'form-entrance--textbox validate[required,minSize[6]] text-input', :onkeyup => "PasswordLength(value);" %>
        <p id="password-input-length">0文字</p>
  
        <%= f.label :password_confirmation, "パスワード確認", class: 'form-entrance--label' %>
        <%= f.password_field :password_confirmation, class: 'form-entrance--textbox validate[required,minSize[6]] text-input', :onkeyup => "PasswordConfirmationLength(value);" %>
        <p id="password-confirmation-input-length">0文字</p>
        
        <%= f.label :portfolio_path, "ポートフォリオURL" %>
        <%= f.text_field :portfolio_path, class: 'form-control validate[maxSize[100],custom[url]] text-input', :onkeyup => "PortfolioPathLength(value);" %>
        <p id="portfolio-path-input-length">0文字</p>
      
        <%= f.label :github_path, "GitHubURL" %>
        <%= f.text_field :github_path, class: 'form-control validate[maxSize[100],custom[url]] text-input', :onkeyup => "GithubPathLength(value);" %>
        <p id="github-path-input-length">0文字</p>
      <% end %>
      
      <% if current_user.try(:admin) %>
        <%= f.label :venture_user, "ITベンチャー起業コース", class: 'form-entrance--label' %>
        <%= f.check_box :venture_user, {class: 'form-entrance--textbox'}, "true", "false" %>
        
        <%= f.label :free_engineer_user, "フリーエンジニアコース", class: 'form-entrance--label' %>
        <%= f.check_box :free_engineer_user, {class: 'form-entrance--textbox'}, "true", "false" %>
        
        <%= f.label :guest, "ゲスト権限付与", class: 'form-entrance--label' %>
      <%= f.check_box :guest, {class: 'form-entrance--textbox'}, "true", "false" %>
        
      <% end %>
      
      <%= f.submit "編集する", class: "btn btn-default active" %>
    <% end %>
  </div>
</div>

<script>
  function NameLength( str ) {
    document.getElementById("name-input-length").innerHTML = str.length + "文字";
  }
  
  function EmailLength( str ) {
    document.getElementById("email-input-length").innerHTML = str.length + "文字";
  }
  
  function LineIdLength( str ) {
    document.getElementById("lineid-input-length").innerHTML = str.length + "文字";
  }
  
  function PasswordLength( str ) {
    document.getElementById("password-input-length").innerHTML = str.length + "文字";
  }
  
  function PasswordConfirmationLength( str ) {
    document.getElementById("password-confirmation-input-length").innerHTML = str.length + "文字";
  }
  
  function PortfolioPathLength( str ) {
    document.getElementById("portfolio-path-input-length").innerHTML = str.length + "文字";
  }
  
  function GithubPathLength( str ) {
    document.getElementById("github-path-input-length").innerHTML = str.length + "文字";
  }
  
  $(document).ready(function(){
    $("#user-edit-form").validationEngine({
    });
  });
  
  $('form').validationEngine({validationEventTrigger:'keyup'});
</script>