<h1>サロンメンバー</h1>

<ul class-"users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.nickname, user %>
      <%= user.email %>
      <%= user.name %>
    </li>
    <table border="1">
      <thead>
        <tr>
          <th>動画視聴率</th>
          <th>Progate</th>
          <th>Rails Tutorial</th>
          <th>ポートフォリオ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= percent_movie(user) %>%</td>
          <td><%= percent_progate(user) %>%</td>
          <td><%= count_rails_tutorial(user) %>章完了</td>
          <td><%= user.try(:portfolio_path) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</ul>