<div class="users-index--wrapper">
  
  <h2 class="page-title">
    <span>SALON MEMBERS</span>
  </h2>
  
  <table class="table table-bordered table-striped table-index">
    <thead>
      <tr>
        <th width=10% class="table-header">ユーザ名</th>
          <% if @current_user.admin %>
            <th width=10% class="table-header">氏名</th>
            <th width=15% class="table-header">メアド</th>
          <% end %>
        <th width=10% class="table-header">動画視聴率</th>
        <th width=10% class="table-header">Progate</th>
        <th width=10% class="table-header">Rails Tutorial</th>
        <th class="table-header">ポートフォリオ</th>
        <th class="table-header">GitHub</th>
           <script>
        function check() {
            var getText = document.form.text1.value;
            if (getText.length >= 4) {
                alert("文字数が制限をこえています");
            } else {
                alert("okです");
            }
        }
    </script>
      </tr>
    </thead>
    
    <tbody>
      <% @users.each do |user| %>
        <% if user.existence %>
          <tr>
            <td><%= user.nickname %></td>
              <% if @current_user.admin %>
                <td><%= link_to user.name, user_path(user, user_id: user.id) %></td>
                <td><%= user.email %></td>
              <% end %>
            <td><%= percent_movie(user) %>%</td>
            <td><%= percent_progate(user) %>%</td>
            <td><%= count_rails_tutorial(user) %>章完了</td>
            <td>
              <% if user.try(:portfolio_path).nil? %>
                <%= image_tag "button_portfolio1.png", class: 'img-button' %>
              <% else %>
                <%= link_to user.portfolio_path, target: '_blank' do %>
                  <%= image_tag "button_portfolio2.png", class: 'img-button' %>
                <% end %>  
                <%= link_to 'コメント', portfolio_path(id: user.id), class: "t_1 btn btn-sm-1" %>
              <% end %>
            </td>
            <td>
              <% if user.try(:github_path).nil? %>
                <%= image_tag "button_github1.png", class: 'img-button' %>
              <% else %>
                　<%= link_to user.github_path, target: '_blank' do %>
                  <%= image_tag "button_github2.png", class: 'img-button' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <div class="center">
    <%= paginate @users %>
  </div>
  
</div>