<div class="form-window form-signup">
  <div class="form-window--wrapper">
    <h6 class="form-window--title">新規登録</h6>
    
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render partial: 'shared/error_messages', locals: { object: @user } %>
    
      <%= f.label :name, "氏名", class: 'form-window--label' %>
      <%= f.text_field :name, class: 'form-window--textbox' %>

      <%= f.label :nickname, "ニックネーム", class: 'form-window--label' %>
      <%= f.text_field :nickname, class: 'form-window--textbox' %>

      <%= f.label :email, 'Email', class: 'form-window--label' %>
      <%= f.email_field :email, class: 'form-window--textbox' %>
      
      <%= f.label :line_id, "LINE ID", class: 'form-window--label' %>
      <%= f.text_field :line_id, class: 'form-window--textbox' %>

      <%= f.label :password, 'パスワード', class: 'form-window--label' %>
      <%= f.password_field :password, class: 'form-window--textbox' %>

      <%= f.label :password_confirmation, "パスワード確認", class: 'form-window--label' %>
      <%= f.password_field :password_confirmation, class: 'form-window--textbox' %>

      <%= f.submit "登録", class: "btn btn-secondary btn-block" %>
      <!--画像を差し込む場合は下記を加工してください。-->
      <!--<= image_submit_tag("button_xxxxx.png", class: "form-window--button") %>-->
      
      <%= link_to ">> TOPページへ戻る", login_path, class: 'form-window--link' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
  </div>
</div>