<h1 class="txt2">進捗詳細</h1>

<h2 class="txt3">
  <%= @user.nickname %>
  [ <%= @user.name %> ]
</h2>

<h3 class="txt3 status-name">[Progate] HTML&CSS</h3>
<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th class="table-header">コース</th>
      <th class="table-header">ステータス</th>
      <th class="table-header">完了日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>学習コース/初級</td>
      <td class="center"><%= @user.html_css_status.try(:ga_beginner) ? '完了' : '未' %></td>
      <td><%= @user.html_css_status.try(:ga_beginner_compd) %></td>
    </tr>
    <tr>
      <td>学習コース/中級</td>
      <td class="center"><%= @user.html_css_status.try(:ga_middle) ? '完了' : '未' %></td>
      <td><%= @user.html_css_status.try(:ga_middle_compd) %></td>
    </tr>
    <tr>
      <td>学習コース/上級</td>
      <td class="center"><%= @user.html_css_status.try(:ga_advanced) ? '完了' : '未' %></td>
      <td><%= @user.html_css_status.try(:ga_advanced_compd) %></td>
    </tr>
    <tr>
      <td>道場コース/初級</td>
      <td class="center"><%= @user.html_css_status.try(:do_beginner) ? '完了' : '未' %></td>
      <td><%= @user.html_css_status.try(:do_beginner_compd) %></td>
    </tr>
    <tr>
      <td>道場コース/中級</td>
      <td class="center"><%= @user.html_css_status.try(:do_middle) ? '完了' : '未' %></td>
      <td><%= @user.html_css_status.try(:do_middle_compd) %></td>
    </tr>
    <tr>
      <td>道場コース/上級</td>
      <td class="center"><%= @user.html_css_status.try(:do_advanced) ? '完了' : '未' %></td>
      <td><%= @user.html_css_status.try(:do_advanced_compd) %></td>
    </tr>
    <tr>
      <td>実践コース 1</td>
      <td class="center"><%= @user.html_css_status.try(:ji_1) ? '完了' : '未' %></td>
      <td><%= @user.html_css_status.try(:ji_1_compd) %></td>
    </tr>
    <tr>
      <td>実践コース 2</td>
      <td class="center"><%= @user.html_css_status.try(:ji_2) ? '完了' : '未' %></td>
      <td><%= @user.html_css_status.try(:ji_2_compd) %></td>
    </tr>
  </tbody>
</table>


<h3 class="txt3 status-name">[Progate] JavaScript</h3>
<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th class="table-header">コース</th>
      <th class="table-header">ステータス</th>
      <th class="table-header">完了日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>学習コース/基礎</td>
      <td class="center"><%= @user.javascript_status.try(:ga_beginner) ? '完了' : '未' %></td>
      <td><%= @user.javascript_status.try(:ga_beginner_compd)%></td>
    </tr>
    <tr>
      <td>道場コース/基礎</td>
      <td class="center"><%= @user.javascript_status.try(:do_beginner) ? '完了' : '未' %></td>
      <td><%= @user.javascript_status.try(:do_beginner_compd) %></td>
    </tr>
  </tbody>
</table>

<h3 class="txt3 status-name">[Progate] Ruby</h3>
<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th class="table-header">コース</th>
      <th class="table-header">ステータス</th>
      <th class="table-header">完了日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>学習コース 1</td>
      <td class="center"><%= @user.ruby_status.try(:ga_1) ? '完了' : '未' %></td>
      <td><%= @user.ruby_status.try(:ga_1_compd) %></td>
    </tr>
    <tr>
      <td>学習コース 2</td>
      <td class="center"><%= @user.ruby_status.try(:ga_2) ? '完了' : '未' %></td>
      <td><%= @user.ruby_status.try(:ga_2_compd) %></td>
    </tr>
    <tr>
      <td>学習コース 3</td>
      <td class="center"><%= @user.ruby_status.try(:ga_3) ? '完了' : '未' %></td>
      <td><%= @user.ruby_status.try(:ga_3_compd) %></td>
    </tr>
    <tr>
      <td>学習コース 4</td>
      <td class="center"><%= @user.ruby_status.try(:ga_4) ? '完了' : '未' %></td>
      <td><%= @user.ruby_status.try(:ga_4_compd) %></td>
    </tr>
    <tr>
      <td>学習コース 5</td>
      <td class="center"><%= @user.ruby_status.try(:ga_5) ? '完了' : '未' %></td>
      <td><%= @user.ruby_status.try(:ga_5_compd) %></td>
    </tr>
  </tbody>
</table>

<h3 class="txt3 status-name">[Progate] Ruby on Rails</h3>
<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th class="table-header">コース</th>
      <th class="table-header">ステータス</th>
      <th class="table-header">完了日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>学習コース 1</td>
      <td class="center"><%= @user.rubyonrails_status.try(:ga_1) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:ga_1_compd) %></td>
    </tr>

    <tr>
      <td>学習コース 2</td>
      <td class="center"><%= @user.rubyonrails_status.try(:ga_2) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:ga_2_compd) %></td>
    </tr>

    <tr>
      <td>学習コース 3</td>
      <td class="center"><%= @user.rubyonrails_status.try(:ga_3) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:ga_3_compd) %></td>
    </tr>

    <tr>
      <td>学習コース 4</td>
      <td class="center"><%= @user.rubyonrails_status.try(:ga_4) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:ga_4_compd) %></td>
    </tr>

    <tr>
      <td>学習コース 5</td>
      <td class="center"><%= @user.rubyonrails_status.try(:ga_5) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:ga_5_compd) %></td>
    </tr>

    <tr>
      <td>学習コース 6</td>
      <td class="center"><%= @user.rubyonrails_status.try(:ga_6) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:ga_6_compd) %></td>
    </tr>

    <tr>
      <td>学習コース 7</td>
      <td class="center"><%= @user.rubyonrails_status.try(:ga_7) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:ga_7_compd) %></td>
    </tr>

    <tr>
      <td>学習コース 8</td>
      <td class="center"><%= @user.rubyonrails_status.try(:ga_8) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:ga_8_compd) %></td>
    </tr>

    <tr>
      <td>学習コース 9</td>
      <td class="center"><%= @user.rubyonrails_status.try(:ga_9) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:ga_9_compd) %></td>
    </tr>

    <tr>
      <td>学習コース 10</td>
      <td class="center"><%= @user.rubyonrails_status.try(:ga_10) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:ga_10_compd) %></td>
    </tr>

    <tr>
      <td>学習コース 11</td>
      <td class="center"><%= @user.rubyonrails_status.try(:ga_11) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:ga_11_compd) %></td>
    </tr>

    <tr>
      <td>道場コース 1</td>
      <td class="center"><%= @user.rubyonrails_status.try(:do_1) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:do_1_compd) %></td>
    </tr>

    <tr>
      <td>道場コース 2</td>
      <td class="center"><%= @user.rubyonrails_status.try(:do_2) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:do_2_compd) %></td>
    </tr>

    <tr>
      <td>道場コース 3</td>
      <td class="center"><%= @user.rubyonrails_status.try(:do_3) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:do_3_compd) %></td>
    </tr>

    <tr>
      <td>道場コース 4</td>
      <td class="center"><%= @user.rubyonrails_status.try(:do_4) ? '完了' : '未' %></td>
      <td><%= @user.rubyonrails_status.try(:do_4_compd) %></td>
    </tr>
  </tbody>
</table>

<h3 class="txt3 status-name">Rails Tutorial</h3>
<table class="txt1 table table-bordered table-condensed table-status">
  <tr>
    <td class="table-header">完了した章</td>
    <td class="center"><%= count_rails_tutorial(@user) %>章</td>
  </tr>
</table>

<h3 class="txt3 status-name">動画視聴</h3>

<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th width=25% class="table-header">動画名</th>
      <th width=15% class="table-header">ステータス</th>
      <th class="table-header">感想</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td><%= Movie.find(1).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 1) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 1) ? @user.feedbacks.find_by(movie_id: 1).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(2).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 2) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 2) ? @user.feedbacks.find_by(movie_id: 2).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(3).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 3) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 3) ? @user.feedbacks.find_by(movie_id: 3).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(4).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 4) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 4) ? @user.feedbacks.find_by(movie_id: 4).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(5).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 5) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 5) ? @user.feedbacks.find_by(movie_id: 5).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(6).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 6) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 6) ? @user.feedbacks.find_by(movie_id: 6).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(7).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 7) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 7) ? @user.feedbacks.find_by(movie_id: 7).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(51).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 51) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 51) ? @user.feedbacks.find_by(movie_id: 51).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(8).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 8) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 8) ? @user.feedbacks.find_by(movie_id: 8).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(9).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 9) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 9) ? @user.feedbacks.find_by(movie_id: 9).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(10).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 10) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 10) ? @user.feedbacks.find_by(movie_id: 10).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(11).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 11) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 11) ? @user.feedbacks.find_by(movie_id: 11).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(33).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 33) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 33) ? @user.feedbacks.find_by(movie_id: 33).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(12).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 12) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 12) ? @user.feedbacks.find_by(movie_id: 12).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(13).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 13) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 13) ? @user.feedbacks.find_by(movie_id: 13).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(14).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 14) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 14) ? @user.feedbacks.find_by(movie_id: 14).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(15).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 15) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 15) ? @user.feedbacks.find_by(movie_id: 15).feedback : '-' %></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><%= Movie.find(16).title %></td>
        <td class="center"><%= @user.feedbacks.find_by(movie_id: 16) ? '完了' : '未' %></td>
        <td><%= @user.feedbacks.find_by(movie_id: 16) ? @user.feedbacks.find_by(movie_id: 16).feedback : '-' %></td>
      </tr>
    </tbody>
</table>

<div class="form-button">
  <% if current_user.admin %>
    <%= link_to 'ユーザ削除', @user, method: :delete, class: 'btn btn-danger user-delete',
        data: { confirm: '本当に削除しますか？' } %>
  <% end %>
  <%= link_to 'ユーザ編集', edit_user_path(@user) , class: 'btn btn-primary user-edit' %>
</div>