<div class="users-show--wrapper">
  
  <h2 class="page-title">
    <span>MY PAGE</span>
  </h2>

  <h3 class="center">
    <%= @user.nickname %>
    [ <%= @user.name %> ]
  </h3>
  
<h4 class="tag-message" style="">現在タグ機能は修正中のため一旦非表示にしております。ご不便をお掛けして申し訳ございません。</h4>

  <div class="center">
    <% if @user.picture_file %>
    <%= image_tag(get_image_user_path, class: "picture_resize") %>
    <% else %>
    <%= image_tag('default.png') %>
    <% end %>
  </div>

  <div class="center mt_20">
    <!--<button class="edit-my-picture btn btn-default active">写真を編集する</button>-->
    
    <div id="upload-my-picture" class="mg_auto wh_30">
      <%= form_for(@user, url: post_pic_path, :id => 'form_id' ) do |f| %>
      <div class="form-group has-error">
        <span id="__has-warning" style="color: red;">画像を選択してください</span>
        <%= f.file_field :picture, accept: 'image/*' %>
        <%= f.submit '画像をアップロード', id: 'fileuploader', class: 'btn btn-default active fileuploader', :disabled => 'true' %>
      </div>
      <% end %>
    </div>
  </div>

  
  <script type="text/javascript">
  
    
    $('#user_picture').bind('change', function() {
      
    var size_in_megabytes = this.files[0].size/1024/1024;
    
    // 画像未選択の場合
    if (size_in_megabytes === null){
      $("#fileuploader").prop("disabled", true);
      $('#__has-warning').show();
    }
    
    // 画像のサイズが5MBを超える場合
    if (size_in_megabytes > 5) {
      $('#__has-warning').text('5MB以下のファイルを選択してください。');
      $('#__has-warning').css('color','red');
      $('#__has-warning').show();
      $("#fileuploader").prop("disabled", true);
    
    // 画像のサイズが5MB以下の場合（正常）
     }else if (size_in_megabytes <= 5){
       $('#__has-warning').text('アップロードできます');
       $('#__has-warning').css('color','blue');
       $("#fileuploader").prop("disabled", false);
     }
     
    });
  </script>


 <div id="tag-controll" style="display:none">
 
  <%= form_for(@user, url: tag_show_path) do |f| %>
    <%= f.text_field :tags , value:'', placeholder: 'タグを入力【20文字(英字or半角スペース)までOK】' %>
    <%= f.submit '登録', id:'tag-submit', class: 'btn btn-default active', :disabled => 'true' %>
  <% end %>
  
  <p>登録済みのタグ一覧：</p>
  <% @user_tags.each do |user_tag| %>
    <span class="tag_box">
      <%=  user_tag.tag %>
      <%= link_to image_tag('delete_icon.png', :class => 'delete_icon'),
                  delete_tag_path(user_id: current_user.id, tag_id: user_tag.id),
                                                                  :method => :delete %>　<!-- methodでdeleteを指定する--> 
    </span>
  <% end %>
  
  </div> 
  
  
<script>
$('#user_tags').keyup(function() {
  var text_field_obj = $('#tag-submit').parent('.edit_user').find('#user_tags');
  var words = text_field_obj.val();
  if(words.length >= 1 && words.length <= 20){
    $("#tag-submit").prop("disabled", false);
  }else{
    $("#tag-submit").prop("disabled", true);
  }
});

  $('.delete_icon').css('width', '15px');
  $('.tag_box').css('border', 'solid 1px #000000');
  $('.tag_box').css('margin', '0 3px 0 0');
  $('.tag_box').css('padding', '2px 2px');
  $('.tag_box').css('font-size', '1.3em');
  $('#tag-controll').css('width', '60%');
  $('#tag-controll').css('margin', '1em auto');
</script>

<% if current_user.try(:admin) == true %>
<% elsif Feedback.where(user_id: current_user).count == 
  Movie.where(movie_category_id: MovieCategory.where(must_view: true).ids).count &&
  current_user.html_css_status.schedule_date.blank? ||
  current_user.javascript_status.schedule_date.blank? ||
  current_user.ruby_status.schedule_date.blank? ||
  current_user.rubyonrails_status.schedule_date.blank? ||
  current_user.railstutorial_status.schedule_date.blank? %>
  <p style="background-color:#FFCACA; color: red; font-size: 30px; text-align: center; 
  margin: 60px 0 25px; text-shadow: 0 1px 0 #999, 0 2px 0 #999">まずは下記の完了予定日を登録して下さい</p>
<% end %>
  
  <table class="txt1 table-condensed table-status-schedule">
     <tr valign="baseline">
      <td width="60%">
        <h3 class="txt3">[Progate] JavaScript</h3>
        完了予定日：<%= @user.javascript_status.try(:schedule_date) if @user.javascript_status.schedule_date.present? %><span class="font-schedule"></h3>
      </td>
      <td>
        <%= form_for(@user.javascript_status, url: javascript_schedule_path ) do |f| %>
        <input style="width:100%" type="date" name="date">
      </td>
      <td width="20%">
        <%= f.submit "登録", class: "btn btn-default active" %>
        <% end %>
      </td>
    </tr>
  </table>
  <table class="txt1 table table-bordered table-striped table-condensed table-status">
    <thead>
      <tr>
        <th class="table-header">コース</th>
        <th class="table-header">ステータス</th>
        <th class="table-header">完了日</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>学習コース 1</td>
        <td class="center"><%= @user.javascript_status.try(:ga_1) ? '完了' : '未' %></td>
        <td><%= @user.javascript_status.try(:ga_1_compd)%></td>
      </tr>
      <tr>
        <td>学習コース 2</td>
        <td class="center"><%= @user.javascript_status.try(:ga_2) ? '完了' : '未' %></td>
        <td><%= @user.javascript_status.try(:do_2_compd) %></td>
      </tr>
      <tr>
        <td>学習コース 3</td>
        <td class="center"><%= @user.javascript_status.try(:ga_3) ? '完了' : '未' %></td>
        <td><%= @user.javascript_status.try(:ga_3_compd)%></td>
      </tr>
      <tr>
        <td>学習コース 4</td>
        <td class="center"><%= @user.javascript_status.try(:ga_4) ? '完了' : '未' %></td>
        <td><%= @user.javascript_status.try(:ga_4_compd)%></td>
      </tr>      
      <tr>
        <td>道場コース 1</td>
        <td class="center"><%= @user.javascript_status.try(:do_1) ? '完了' : '未' %></td>
        <td><%= @user.javascript_status.try(:do_1_compd)%></td>
      </tr>
    </tbody>
  </table>
  
  <table class="txt1 table-condensed table-status-schedule">
     <tr valign="baseline">
      <td width="60%">
        <h3 class="txt3">[Progate] Ruby</h3>
        完了予定日：<%= @user.ruby_status.try(:schedule_date) if @user.ruby_status.schedule_date.present? %></span></h3>
      </td>
      <td>
        <%= form_for(@user.ruby_status, url: ruby_schedule_path ) do |f| %>
        <input style="width:100%" type="date" name="date">
      </td>
      <td width="20%">
        <%= f.submit "登録", class: "btn btn-default active" %>
        <% end %>
      </td>
    </tr>
  </table>
  <table class="txt1 table table-bordered table-striped table-condensed table-status">
    <thead>
      <tr>
        <th class="table-header">コース</th>
        <th class="table-header">ステータス</th>
        <th class="table-header">完了日</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>学習コース 1</td>
        <td class="center"><%= @user.ruby_status.try(:ga_1) ? '完了' : '未' %></td>
        <td><%= @user.ruby_status.try(:ga_1_compd) %></td>
      </tr>
      <tr>
        <td>学習コース 2</td>
        <td class="center"><%= @user.ruby_status.try(:ga_2) ? '完了' : '未' %></td>
        <td><%= @user.ruby_status.try(:ga_2_compd) %></td>
      </tr>
      <tr>
        <td>学習コース 3</td>
        <td class="center"><%= @user.ruby_status.try(:ga_3) ? '完了' : '未' %></td>
        <td><%= @user.ruby_status.try(:ga_3_compd) %></td>
      </tr>
      <tr>
        <td>学習コース 4</td>
        <td class="center"><%= @user.ruby_status.try(:ga_4) ? '完了' : '未' %></td>
        <td><%= @user.ruby_status.try(:ga_4_compd) %></td>
      </tr>
      <tr>
        <td>学習コース 5</td>
        <td class="center"><%= @user.ruby_status.try(:ga_5) ? '完了' : '未' %></td>
        <td><%= @user.ruby_status.try(:ga_5_compd) %></td>
      </tr>
    </tbody>
  </table>
  
  <table class="txt1 table-condensed table-status-schedule">
     <tr valign="baseline">
      <td width="60%">
        <h3 class="txt3">[Progate] Ruby on Rails</h3>
        完了予定日：<%= @user.rubyonrails_status.try(:schedule_date) if @user.rubyonrails_status.schedule_date.present? %></span></h3>
      </td>
      <td>
        <%= form_for(@user.rubyonrails_status, url: rubyonrails_schedule_path ) do |f| %>
        <input style="width:100%" type="date" name="date">
      </td>
      <td width="20%">
        <%= f.submit "登録", class: "btn btn-default active" %>
        <% end %>
      </td>
    </tr>
  </table>
  <table class="txt1 table table-bordered table-striped table-condensed table-status">
    <thead>
      <tr>
        <th class="table-header">コース</th>
        <th class="table-header">ステータス</th>
        <th class="table-header">完了日</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>学習コース 1</td>
        <td class="center"><%= @user.rubyonrails_status.try(:ga_1) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:ga_1_compd) %></td>
      </tr>
  
      <tr>
        <td>学習コース 2</td>
        <td class="center"><%= @user.rubyonrails_status.try(:ga_2) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:ga_2_compd) %></td>
      </tr>
  
      <tr>
        <td>学習コース 3</td>
        <td class="center"><%= @user.rubyonrails_status.try(:ga_3) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:ga_3_compd) %></td>
      </tr>
  
      <tr>
        <td>学習コース 4</td>
        <td class="center"><%= @user.rubyonrails_status.try(:ga_4) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:ga_4_compd) %></td>
      </tr>
  
      <tr>
        <td>学習コース 5</td>
        <td class="center"><%= @user.rubyonrails_status.try(:ga_5) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:ga_5_compd) %></td>
      </tr>
  
      <tr>
        <td>学習コース 6</td>
        <td class="center"><%= @user.rubyonrails_status.try(:ga_6) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:ga_6_compd) %></td>
      </tr>
  
      <tr>
        <td>学習コース 7</td>
        <td class="center"><%= @user.rubyonrails_status.try(:ga_7) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:ga_7_compd) %></td>
      </tr>
  
      <tr>
        <td>学習コース 8</td>
        <td class="center"><%= @user.rubyonrails_status.try(:ga_8) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:ga_8_compd) %></td>
      </tr>
  
      <tr>
        <td>学習コース 9</td>
        <td class="center"><%= @user.rubyonrails_status.try(:ga_9) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:ga_9_compd) %></td>
      </tr>
  
      <tr>
        <td>学習コース 10</td>
        <td class="center"><%= @user.rubyonrails_status.try(:ga_10) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:ga_10_compd) %></td>
      </tr>
  
      <tr>
        <td>学習コース 11</td>
        <td class="center"><%= @user.rubyonrails_status.try(:ga_11) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:ga_11_compd) %></td>
      </tr>
  
      <tr>
        <td>道場コース 1</td>
        <td class="center"><%= @user.rubyonrails_status.try(:do_1) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:do_1_compd) %></td>
      </tr>
  
      <tr>
        <td>道場コース 2</td>
        <td class="center"><%= @user.rubyonrails_status.try(:do_2) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:do_2_compd) %></td>
      </tr>
  
      <tr>
        <td>道場コース 3</td>
        <td class="center"><%= @user.rubyonrails_status.try(:do_3) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:do_3_compd) %></td>
      </tr>
  
      <tr>
        <td>道場コース 4</td>
        <td class="center"><%= @user.rubyonrails_status.try(:do_4) ? '完了' : '未' %></td>
        <td><%= @user.rubyonrails_status.try(:do_4_compd) %></td>
      </tr>
    </tbody>
  </table>
  
  <table class="txt1 table-condensed table-status-schedule">
     <tr valign="baseline">
      <td width="60%">
        <h3 class="txt3">Rails Tutorial</h3>
        完了予定日：<%= @user.railstutorial_status.try(:schedule_date) if @user.railstutorial_status.schedule_date.present? %></span></h3>
      </td>
      <td>
        <%= form_for(@user.railstutorial_status, url: railstutorial_schedule_path ) do |f| %>
        <input style="width:100%" type="date" name="date">
      </td>
      <td width="20%">
        <%= f.submit "登録", class: "btn btn-default active" %>
        <% end %>
      </td>
    </tr>
  </table>
  <table class="txt1 table table-bordered table-condensed table-status">
    <tr>
      <td class="table-header">完了した章</td>
      <td class="center"><%= count_rails_tutorial(@user) %>章</td>
    </tr>
  </table>
  
  <table class="txt1 table-condensed table-status-schedule">
     <tr valign="baseline">
      <td width="60%">
        <h3 class="txt3">動画視聴</h3>
        完了予定日：<%= @user.user_movie_status.try(:schedule_date) if @user.user_movie_status.schedule_date.present? %></span></h3>
      </td>
      <td>
        <%= form_for(@user.user_movie_status, url: user_movie_schedule_path) do |f| %>
        <input style="width:100%" type="date" name="date">
      </td>
      <td width="20%">
        <%= f.submit "登録", class: "btn btn-default active" %>
        <% end %>
      </td>
    </tr>
  </table>
  
  <table class="txt1 table table-bordered table-striped table-condensed table-status">
    <thead>
      <tr>
        <th width=25% class="table-header">動画名</th>
        <th width=15% class="table-header">ステータス</th>
        <th class="table-header">感想</th>
      </tr>
    </thead>
    <% @categories.each do |category| %>
      <% category.movies.order('sort_order').each do |movie| %>
        <% feedback = @user.feedbacks.find_by(movie_id: movie.id) %>
        <tbody>
          <tr>
            <td><%= movie.title %></td>
            <td class="center"><%= feedback.present? ? '完了' : '未' %></td>
            <td><%= feedback.present? ? feedback.feedback : '-' %></td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
  
  <div class="right">
    <%= link_to 'ユーザ編集', edit_user_path(@user) , class: 'btn btn-default active' %>
    <% if current_user.admin %>
      <%= link_to 'ユーザ削除', @user, method: :delete, class: 'btn btn-danger',
          data: { confirm: '本当に削除しますか？' } %>
    <% end %>
  </div>
  
  
  <script>
  $('.edit-my-picture').click(function(){
    $('#upload-my-picture').show();
    $(this).hide();
  });
  </script>
  
</div>