<h2 class="page-title-jp">
  <span>お知らせ一覧</span>
</h2>

<div class="top-index--wrapper">
  <%= form_for(@input_information, url: {:action => 'create'}) do |f| %>
    <%= f.label :info, "表示したいお知らせ・イベントを入力してください", class: 'txt1' %>
    <%= f.text_area :info, class: 'form-control'%>
    <%= f.label :display_period, "表示期日を設定してください", class: 'txt1' %>
    <%= f.date_field :display_period, style:"width:40%", class: 'form-control'%>
    <%= f.label :info, "開催場所のURL", class: 'txt1' %>
    <%= f.text_area :info, class: 'form-control'%>
    <%= f.label :info, "お知らせ・イベントの詳細を入力してください", class: 'txt1' %>
    <%= f.text_area :info, rows: 15, class: 'form-control validate[required,maxSize[1500]] text-input', :onkeyup => "QuestionLength(value);" %>
  <p id="question-input-length">0文字</p>
    <%= f.label :info, "出欠確認をとる", class: 'txt1' %>
    <%= f.check_box :info, {class: 'form-control'}, "true", "false" %><br>
    <%= f.label :info, "ITベンチャー起業コース", class: 'txt1' %>
    <%= f.check_box :info, {class: 'form-control'}, "true", "false" %><br>
    <%= f.label :info, "フリーエンジニアコース", class: 'txt1' %>
    <%= f.check_box :info, {class: 'form-control'}, "true", "false" %><br>
    <%= f.label :info, "お知らせ・イベント投稿時にメールを送信する", class: 'txt1' %>
    <%= f.check_box :info, {class: 'form-control'}, "true", "false" %><br>
    <%= f.submit "登録", class: "btn btn-default active" %>
  <% end %>
</div>

<table class="txt1 table-condensed table-status-schedule">
   <tr valign="baseline">
    <td>
      <h3 class="txt3">登録済みお知らせ一覧</h3>
    <td>
  </tr>
</table>
<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th class="table-header">お知らせ内容</th>
      <th class="table-header">表示期日</th>
    </tr>
  </thead>
  <tbody>
    <% @information.each do |info| %>
      <%= form_for(info, html: {class: 'form'}) do |f| %>
        <tr>
          <td><%= f.text_area :info, :value => info.info, class: 'form-control', disabled: true %></td>
          <td><%= f.date_field :display_period, :value => info.display_period, class: 'form-control', disabled: true %></td>
          <td>
            <%= f.hidden_field :id, :value => info.id %>
            <%= f.submit '更新', {class: 'btn btn-default active post-regist hide update_button' }%>
            <input type="button" class='btn btn-default active post-regist hide update_button' value='キャンセル' onclick="HTMLRestore();return false;"  %>
            <%= link_to '編集', '#', :onclick=> "show_edit(this);return false;", class: 'edit' %>
            <%= link_to '削除', info, method: :delete, class: 'delete',
              data: { confirm: '本当に削除しますか？' }%>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
var defaultHTML;
      window.onload = function(){
        defaultHTML = document.body.innerHTML;
      }
      // HTML記述を初期状態に戻す
      function HTMLRestore() {
        document.body.innerHTML = defaultHTML;
      }
    
      function show_edit(e){
        //debugger
        var update_button = $(e).closest('tr').find('input[type="submit"]');
        var textarea = $(e).closest('tr').find('textarea');
        var text = $(e).closest('tr').find('input[type="date"]');
        var delete_link = $(e).next();
        var cancel_button = $(e).closest('tr').find('input[type="button"]');
        textarea.prop("disabled", false);
        text.prop("disabled", false);
        $(e).removeClass('show');
        $(e).addClass('hide');
        delete_link.removeClass('show');
        delete_link.addClass('hide');
        update_button.removeClass('hide');
        update_button.addClass('show');
        cancel_button.removeClass('hide');
        cancel_button.addClass('show');
      };
</script>