<!-- 用語集 bootstrap アコーディオン -->
<div class="panel-group" id="sampleAccordion">
  <% isAdmin = current_user.try(:admin) %>
  <% searched.each do |term| %>
    <div class="panel panel-default">
    	<div class="panel-heading">
    		<h3 class="panel-title " style="display:inline">
    		  <%= simple_format(term.name) %>
    		</h3>
    		<span>
    		  <%= link_to '編集', edit_term_path(term) %>
    		</span>
    		<% if current_user.try(:admin)  || term.create_user_id == current_user.id %>
      		<span>
      		  <%= link_to "削除", term, method: :delete, data: { confirm: "本当に削除しますか?" } %>
      		</span>
      	<% end %>
    	</div>
    	<div>
    		<div class="panel-body">
    		  <%= simple_format(term.content) %>
    		</div>
    		最終更新者：<%= term.user.nickname %>
    	</div>
  	</div>
	<% end %>
</div>