<!-- 用語集 bootstrap アコーディオン -->
<div class="panel-group" id="sampleAccordion">
  <% @terms.each do |term| %>
    <div class="panel panel-default">
  		<div class="panel-heading">
  			<h3 class="panel-title " style="display:inline">
  				<a style="display:inline" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse<%= term.id %>">
  					<%= simple_format(term.name) %>
  				</a>
  			</h3>
  			<% if current_user.try(:admin) %>
  			  <span><%= link_to '編集', edit_term_path(term) %></span>
  			<% end %>
  		</div>
  		<div id="sampleAccordionCollapse<%= term.id %>" class="panel-collapse collapse">
  			<div class="panel-body">
  			  <%= simple_format(term.content) %>
  			</div>
  		</div>
  	</div>
	<% end %>
</div>