<script>
  var
  preFunc = null,
  preInput = '',
  input = '',
  ajaxPost = function(input)
  {
    $.ajax({
      url: "ajax_term_list",
      type: "GET",
      data: ("search=" + input)
    });
  };
  
  $('#inc_search').on('keyup', function() {
    input = $.trim($(this).val());   //前後の不要な空白を削除
    if(preInput !== input){
      clearTimeout(preFunc);
      preFunc = setTimeout(ajaxPost(input), 500);
    }
    preInput = input;
  });
</script>

<h2 class="page-title">
  <span>IT用語解説</span>
</h2>

<div class="right">
  <%= form_tag(terms_path, method: :get) do %>
    <p>
      <%= text_field_tag :search, params[:search], placeholder: "キーワード", size: 25 %>
      <%= submit_tag "検索", :name => nil %>
    </p>
  <% end %>
</div>

<!--<input id="inc_search" type="text">-->

<% if current_user.try(:admin) %>
  <div class="center">
    <%= link_to '新規登録', new_term_path, class: 'txt1' %>
  </div>
<% end %>

<div class="center">
  <%= paginate @terms %>
</div>

<div id="term_list">
  <% if @terms.blank? %>
    <%= render partial: 'not_exist' %>
  <% else %>
    <%= render partial: 'term_list' %>
  <% end %>
</div>

<div class="center">
  <%= paginate @terms %>
</div>