<h2 class="page-title">
  <span>IT用語 新規登録</span>
</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@term, html:{:id => 'term-new-form'}) do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
      
      <%= f.hidden_field :create_user_id, :value => current_user.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      
      <div class="center mt_20">
        <%= f.submit '登録', {class: 'btn btn-default active post-regist' }%>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#term-new-form").validationEngine();
  });
</script>