<div class="blogs-index--wrapper">
  <div class="container-fluid">
    
    <h2 class="page-title-jp">
      <span>Blog一覧</span>
    </h2>
    <% if current_user.admin? %>
      <div align="center">
        <%= link_to "Blog投稿", new_blog_path %>
      </div>
    <% end %>
     
    <table class="table-posts">
      <thead>
      </thead>
        
      <!--投稿の表示-->
      <% @blogs.each do |blog| %>
        <tbody class="tr-group">
          <tr>
            <td class="td-img" rowspan="2">
              <%= image_tag(blog.thumbnail.url, :class => "icon") %>
            </td>
            
            <!--メイン情報-->
            <td class="td-main">
              <%= link_to blog.title, blog_path(blog), target: '_blank' %>
            </td>
          </tr>
          <tr>
            <td class="td-sub">
              by <%= blog.user.name %> &nbsp;
              日付
              <%= blog.created_at.strftime("%Y/%m/%d") %> &nbsp;
              <% if current_user.admin? %>
                ［
                  <%= link_to '編集', edit_blog_path(blog) %>
                ］
                ［
                  <%= link_to '削除', blog_path(blog), method: :delete, data: { confirm: "本当に削除しますか?" } %>
                ］
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %><!--@qiitaposts.each do |qiitapost|-->
    </table>
    
    <div class="center">
      <%= paginate @blogs %>
    </div>
    
  </div>
</div>