<div style=text-align:center;>
  <h2 class="page-title">
    <span>スキルシート一覧</span>
  </h2>
  <br>
  <h4>【下記ボタンからスキルシートのテンプレートをダウンロード出来ます】<br><br>
  ⬇︎<br><br>
  <%= link_to "テンプレートダウンロード!", {:controller => "skillsheets",:action=>"download" }, {method: :get, class: "btn-lg btn-default active"} %>
  </h4>
 
  <br><br>
  <div class="panel panel-default panel-body mg_auto wh_30" style=width:70%;>
  <ul>
    <li>① ダウンロード後、スキルシートを編集して下さい</li>
    <li>②「ファイルを選択」ボタンから編集したスキルシートを選択して下さい</li>
    <li>③「登録する」ボタンを押すと、スキルシートが自分の欄に登録されます</li>
  </ul>
    <div class="mg_auto wh_30">
    <%= form_for(@user, url: post_skillsheet_path, multipart: true, :id => 'form_id' ) do |f| %>
      <%= f.file_field :file %><br>
      <%= f.submit '登録する', id: 'fileuploader', class: 'btn btn-primary active fileuploader', data:{disable_with:'cannot upload…'} %>
    <% end %>
    </div>
  </div>

  <br><br><br>
  <table class="table table-bordered table-striped table-index">
    <thead>
      <tr>
        <th width=25% class="table-header">ユーザ名</th>
          <% if current_user.admin %>
            <th width=25% class="table-header">氏名</th>
          <% end %>
        <th class="table-header">スキルシート</th>
      </tr>
    </thead>
        
    <tbody>
      <% @existed_users.each do |user| %>
          <tr>
            <td><%= user.nickname %></td>
            
            <!--　アドミんの場合はユーザーのフルネームを表示させる -->
            <% if current_user.admin %>
              <td><%= link_to user.name, user_path(user, user_id: user.id) %></td>
            <% end %>
            
            <!-- 未登録（デフォルト）の場合はリンクを生成せずに次のループへ -->
            <% if is_skillsheet_default?(user.skillsheet_name) %>
              <td><%= "#{user.skillsheet_name}" %></td>
              <% next %>
            <% end %>
            
            <!-- アドミンの場合は全てのユーザーのスキルシートへアクセスできる -->
            <% if current_user.admin %>
              <td><%= link_to "#{user.skillsheet_name}", get_skillsheet_path(user_id: user.id) %></td>
              <% next %>
            <% end %>
            
            <!-- 一般ユーザーは自分のスキルシートにのみアクセスできる -->
            <% if is_my_skill_sheet?(user.id) %>
              <td><%= link_to "#{user.skillsheet_name}", get_skillsheet_path(user_id: user.id) %></td>
              <% next %>
            <% end %>
            
            <!-- 一般ユーザーからみたアドミン(登録済み)のスキルシート -->
            <td><%= "#{user.skillsheet_name}" %></td>

            </td>
          </tr>
  　　<% end %>
    </tbody>
  </table>
</div>
