<div style=text-align:center;>
  <h2 class="page-title">
    <span>スキルシート一覧</span>
  </h2>
  <br>
  <h4>【下記ボタンからスキルシートのテンプレートをダウンロード出来ます】<br><br>
  ⬇︎<br><br>
  <%= link_to "テンプレートダウンロード!", {:controller => "skillsheets",:action=>"download" }, {method: :get, class: "btn-lg btn-default active"} %>
  </h4>
 
  <br><br>
  <div class="panel panel-default panel-body mg_auto wh_30" style=width:70%;>
    <ul>
      <li>① ダウンロード後、スキルシートを編集して下さい<li>
      <li>②「ファイルを選択」ボタンから編集したスキルシートを選択して下さい<li>
      <li>③「登録する」ボタンを押すと、スキルシートが自分の欄に登録されます<li>
    </ul>
    <div class="mg_auto wh_30">
    <% unless current_user.guest %>
      <%= form_for(@user, url: post_skillsheet_path, multipart: true, :id => 'form_id' ) do |f| %>
        <%= f.file_field :file %><br>
        <%= f.submit '登録する', id: 'fileuploader', class: 'btn btn-primary active fileuploader', data:{disable_with:'cannot upload…'} %>
      <% end %>
    <% end %>
    </div>
  </div>

  <br><br><br>
  <table class="table table-bordered table-striped table-index">
    <thead>
      <% unless current_user.guest %>

      営業状況検索<br><br>
      <!-- ポスト先のURLを指定する -->
       <%= form_tag( skillsheets_search_path, method: :get ) do%>
       <!-- check_box の:status と labelの:statusが一意に対応する必要がある。 -->
        <!-- 要修正：下記のケースだと就業中のラベルをクリックすると未登録にチェックがついてしまう -->
         <%= check_box_tag "checkall" %>
         <%= label_tag :status, "全て" %>
         
         <%= check_box_tag "status[]", "未登録", false, class: 'row_check' %>
         <%= label_tag :status, "未登録" %>
 
         <%= check_box_tag "status[]", "営業中", false, class: 'row_check'  %>
         <%= label_tag :status, "営業中" %>
 
         <%= check_box_tag "status[]", "就業中", false, class: 'row_check'  %>
         <%= label_tag :status, "就業中" %><br>
         
         <%= submit_tag '検索'%><p>
       <% end %>
      <% end %>
      <br>
      <tr>
        <th width=25% class="table-header">ユーザ名</th>
            <th width=25% class="table-header">氏名</th>
          <% unless current_user.guest %>
        <th class="table-header">状況</th>
          <% end %>
        <th class="table-header">スキルシート</th>
      </tr>
    </thead>
    <% if current_user.guest %>
<tbody>
      <!--テーブルに表示させたいユーザーを取得、eachで表示させる-->
      <% @openning_business_user.each do |obuser| %>
        <tr>
          <td><%= obuser.nickname %></td>
          <td><%= link_to obuser.name, user_path(obuser, obuser_id: obuser.id) %></td>
          <% if is_obskillsheet_default?(obuser.skillsheet_name) %>
            <td><%= "#{obuser.skillsheet_name}" %></td>
            <% next %>
          <% end %>
            <td><%= link_to "#{obuser.skillsheet_name}", get_skillsheet_path(obuser_id: obuser.id) %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
    <% end %>    

  <% unless current_user.guest %>  
    <tbody>
      <!--テーブルに表示させたいユーザーを取得、eachで表示させる-->
      <% @existed_normal_users.each do |user| %>
        <tr>
          <td><%= user.nickname %></td>
          
              <td><%= link_to user.name, user_path(user, user_id: user.id) %></td>
          <td>
            <!--共通-->
            <%= form_for user, :url => { :controller => :skillsheets, :action => :update_business_status } do |f| %>
              <% if user.id != current_user.id %>
                <%= f.select :status,{'未登録': '未登録', '営業中': '営業中', '就業中': '就業中'}, {}, :disabled => true %>
                <%= submit_tag "登録", size: 25, :disabled => true %>
              <% else %>
                <%= f.select :status,{'未登録': '未登録', '営業中': '営業中', '就業中': '就業中'}, {}, :disabled => false %>
                <%= submit_tag "登録", size: 25, :disabled => false %>
              <% end %>
              <!-- ここでhiddenタグを使う。目的：current_user.idをパラメータに含めて送信する　-->
              <!-- hidden_field(オブジェクト名, プロパティ名 [, オプション]) いとう-->
              <%= f.hidden_field :user_id, value: current_user.id %>
            <% end %>
          </td>
          
          <!-- 未登録（デフォルト）の場合はリンクを生成せずに次のループへ -->
          <% if is_skillsheet_default?(user.skillsheet_name) %>
            <td><%= "#{user.skillsheet_name}" %></td>
            <% next %>
          <% end %>
          <!-- アドミンの場合は全てのユーザーのスキルシートへアクセスできる -->
          <% if current_user.admin %>
            <td><%= link_to "#{user.skillsheet_name}", get_skillsheet_path(user_id: user.id) %></td>
            <% next %>
          <% end %>
          
          <!-- 一般ユーザーは自分のスキルシートにのみアクセスできる -->
          <% if is_my_skill_sheet?(user.id) %>
            <td><%= link_to "#{user.skillsheet_name}", get_skillsheet_path(user_id: user.id) %></td>
            <% else %>
          
          <!-- 一般ユーザーからみたアドミン(登録済み)のスキルシート -->
          <td><%= "#{user.skillsheet_name}" %></td>
          <% end %>
          </td>
        </tr>
      <% end %>
      <script>
      var checkall = document.getElementById('checkall');
        checkall.addEventListener('click', function () {
      var checkboxes = document.getElementsByClassName('row_check');
      for (i in checkboxes) {
        checkboxes[i].checked = this.checked;
      }
            });
      </script>
    </tbody>
  <% end %>
    
  </table>
</div>
