<meta name="viewport" content="width=device-width; initial-scale=1.0">
<div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">
      
      <div id="m5">
        <%= render 'shared/movie', movies: @movies, movie_id: 5 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 5 %>
      </div>
  
      <div id="m6" class="<%= @hide unless current_user.fb_comp?(5) %>">
        <%= render 'shared/movie', movies: @movies, movie_id: 6 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 6 %>
      </div>
  
      <div id="m7" class="<%= @hide unless current_user.fb_comp?(6) %>">
        <%= render 'shared/movie', movies: @movies, movie_id: 7 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 7 %>
      </div>

      <div id="link_job_hunting" class="<%= @hide unless current_user.fb_comp?(7) %>">
        <p class="text-center">
          <%= link_to "NEXT：就活編", job_hunting_path, class: "txt1 btn btn-lg btn-primary" %>
        </p>
      </div>
      
    </div>
    <%= render 'layouts/aside' %>
  </div>
</div>

<script>
  $('.hide-movie').hide();
</script>