<meta name="viewport" content="width=device-width; initial-scale=1.0">
<div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">
      
      <div id="m3">
        <%= render 'shared/movie', movies: @movies, movie_id: 3 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 3 %>
      </div>
  
      <div id="m4" class="<%= @hide unless current_user.fb_comp?(3) %>">
        <%= render 'shared/movie', movies: @movies, movie_id: 4 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 4 %>
      </div>
      
      <div id="link_able_engineer" class="<%= @hide unless current_user.fb_comp?(4) %>">  
        <p class="text-center">
          <%= link_to "NEXT：できるエンジニアになる", able_engineer_path, class: "txt1 btn btn-lg btn-primary" %>
        </p>
      </div>
    </div>
    <%= render 'layouts/aside' %>
  </div>
</div>

<script>
  $('.hide-movie').hide();
</script>