<meta name="viewport" content="width=device-width; initial-scale=1.0">
<div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">
      
    <% if current_user.feedbacks.find_by(movie_id: 2) %>
      <div id="m3">
        <%= render 'shared/movie', movies: @movies, movie_id: 3 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 3 %>
      </div>
    <% end %>
      
      <% if current_user.feedbacks.find_by(movie_id: 3) %>
        <div id="m4">
          <%= render 'shared/movie', movies: @movies, movie_id: 4 %>
          <%= render 'feedbacks/form', feedback: @feedback, movie_id: 4 %>
        </div>
      <% end %>

    </div>
    <%= render 'layouts/aside' %>
  </div>
</div>