<meta name="viewport" content="width=device-width; initial-scale=1.0">
<div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">
      
      <div id="m1">
        <%= render 'shared/movie', movies: @movies, movie_id: 1 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 1 %>
      </div>
      
      <div id="m2" class="<%= @hide unless current_user.fb_comp?(1) %>">
        <%= render 'shared/movie', movies: @movies, movie_id: 2 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 2 %>
      </div>

      <div id="link_freelance" class="<%= @hide unless current_user.fb_comp?(2) %>">
        <p class="text-center txt1">プログラミングを学んでフリーランスを目指しましょう！</p>
        <p class="text-center">
          <%= link_to "NEXT：フリーエンジニアとは", freelance_path, class: "txt1 btn btn-lg btn-primary" %>
        </p>
      </div>
    </div>
    <%= render 'layouts/aside' %>
  </div>
</div>

<script>
  $('.hide-movie').hide();
</script>