<meta name="viewport" content="width=device-width; initial-scale=1.0">
<div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">

      <div id="m11">
        <%= render 'shared/movie', movies: @movies, movie_id: 11 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 11 %>
      </div>

      <div id="m12" class="<%= @hide unless current_user.fb_comp?(11) %>">
        <%= render 'shared/movie', movies: @movies, movie_id: 12 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 12 %>
      </div>

      <div id="m13" class="<%= @hide unless current_user.fb_comp?(12) %>">
        <%= render 'shared/movie', movies: @movies, movie_id: 13 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 13 %>
      </div>

      <div id="m14" class="<%= @hide unless current_user.fb_comp?(13) %>">
        <%= render 'shared/movie', movies: @movies, movie_id: 14 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 14 %>
      </div>

      <div id="m15" class="<%= @hide unless current_user.fb_comp?(14) %>">
        <%= render 'shared/movie', movies: @movies, movie_id: 15 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 15 %>
      </div>

      <div id="m16" class="<%= @hide unless current_user.fb_comp?(15) %>">
        <%= render 'shared/movie', movies: @movies, movie_id: 16 %>
        <%= render 'feedbacks/form', feedback: @feedback, movie_id: 16 %>
      </div>

      <div id="link_progate" class="<%= @hide unless current_user.fb_comp?(16) %>">
        <p class="text-center">
          <%= link_to "NEXT：Progate学習", progate_path, class: "txt1 btn btn-lg btn-primary" %>
        </p>
      </div>

    </div>
    <%= render 'layouts/aside' %>
  </div>
</div>

<script>
  $('.hide-movie').hide();
</script>