<div class="main-wrapper">
  <div class="row">
    <div class="col-sm-9">
      <h3 class="center">よくある質問</h2>
      <!-- QA bootstrap アコーディオン -->
      <div class="panel-group" id="sampleAccordion">
        <div class="panel panel-success">
          <div class="panel-heading">
          はじめに
          </div>
        </div>
        <div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse1">
      					Q：何から学習を始めればいいですか？
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse1" class="panel-collapse collapse">
      			<div class="panel-body">
      				    A：【プロゲート】⇨【Railsチュートリアル】⇨【ポートフォリオ】の順番で学習を進めてください。
      			</div>
      		</div>
      	</div>
      	
          <br>
        <div class="panel panel-success">
          <div class="panel-heading">
            プロゲート
          </div>
        </div>
          
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse2">
      					Q：どの項目を学習すればいいですか？
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse2" class="panel-collapse collapse">
      			<div class="panel-body">
      				    A：【HTML&CSS】,【JavaScript】,【Git】,【Ruby】,【Ruby on Rails5】を学習してください。
      			</div>
      		</div>
      	</div>
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse3">
      					Q：わからない問題があります。答えを見てもいいですか？
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse3" class="panel-collapse collapse">
      			<div class="panel-body">
      				    A：わからない場合は答えを見ても問題ありません。
      			</div>
      		</div>
      	</div>
      	
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse4">
      					Q：理解できている気がしません。何回か復習した方がいいですか？
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse4" class="panel-collapse collapse">
      			<div class="panel-body">
      				    A：プロゲートやRailsチュートリアルではパソコンの操作やプログラミングに慣れることが目的です。完全な理解・暗記・復習は必要ないので次に進めてください。
      			</div>
      		</div>
      	</div>
      	<br>
      	<div class="panel panel-success">
      	  <div class="panel-heading">
      	   Railsチュートリアル
      	  </div>
      	</div>
      	
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse5">
      					Q：どこに入力すればいいですか？
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse5" class="panel-collapse collapse">
      			<div class="panel-body">
      			    	A：コマンドラインターミナルに入力するか、ファイル内に入力するかを確認してください。<br>
      			    	
      				<br>
      				    【コマンドラインターミナルに入力する場合】<br>
      			    	    ・行の頭に「$」が表示されていれば、コマンドラインターミナルであることを示しています。
      			    	    下記画像例を参考にしてください。<br>
      			    	    <br>
      				<img src="<%= asset_path('tutorial_input.png') %>"><br>
      				<font size = "1">＊手動入力でも問題ありませんが、コピペの方がスペルミスのリスクが少ないです。</font size><br>
      				<br>
      				<br>
      			    	【ファイル内に入力する場合】<br>
                  ・ファイル名がある場合、そのファイル内にコピペしてください。<br>
              <br>
                      <img src="<%= asset_path('tutorial_input2.png') %>"><br>
              <br>
              <br>
                  【前後が省略されている場合】<br>
                  ・下記画像のように省略されている場合もあります。記入位置をよく確認してください。<br>
                      <br>
                      <img src="<%= asset_path('abridgement.png') %>"><br>
      			</div>
      		</div>
      	</div>
      
        <div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse6">
      					Q：Gitについて。
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse6" class="panel-collapse collapse">
      			<div class="panel-body">
      			  A.チュートリアルでは「Bitbucket」が推奨されていますので、基本は「Bitbucket」を使いましょう。<br>
              ただ、「GitHub」の方が初心者には使いやすいので、リモートリポジトリに対する理解が深まっているチュートリアル2週目の場合は、「GitHub」をオススメします。<br><br>
              Gitについては下記の動画を参考にしてください。<br>
    				    <a href = "https://rua.jp/u70Krw">【セレブエンジニアサロン限定】GitHub講習(1)</a><br>
    				    <a href = "https://rua.jp/XzUun0">【セレブエンジニアサロン限定】GitHub講習(2)</a><br>
    				    <a href = "https://youtu.be/90YxMvftJPI">【セレブエンジニアサロン限定】GitHub講習(3)</a><br>
    				    <a href = "https://rua.jp/mUQTTr">【セレブエンジニアサロン限定】GitHub講習(4)</a><br>
    				    <a href = "https://rua.jp/gokSGB">【セレブエンジニアサロン限定】GitHub講習(5)</a><br>
      			</div>
      		</div>
      	</div>	
      
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse7">
      					Q：一度cloud9を閉じて、時間をおき再開すると手順通りに進めなくなりました。
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse7" class="panel-collapse collapse">
      			<div class="panel-body">
      			    	A：再開時にうまく作動しない原因は、下記の作業を飛ばしている可能性があります。<br>
      				    <br>
                      【自分が作業しているディレクトリに移動する】<br>
                      <br>
                      <img src="<%= asset_path('workspace.png') %>"><br>
                      <br>
                      <br>
                      【コマンドラインに「rails server -b $IP -p $PORT」を入力する】<br>
                      <br>
                      <img src="<%= asset_path('rails_server.png') %>"><br>
                      <font size = "1">＊チュートリアルを始める時には自分の作業ディレクトリに移動し、サーバー接続をしてください。</font size>
      			</div>
      		</div>
      	</div>
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse8">
      					Q：エラーが発生します。
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse8" class="panel-collapse collapse">
      			<div class="panel-body">
      				    A：よくある原因として下記のものがあります。<br>
                       <br>
                        ・コピペミス（コピペの範囲が全て選択されていない）<br>
                        ・コードを入力する位置が間違っている<br>
                        ・無駄な空白（スペース）がある<br>
                        ・スペルミス<br>
                        ・無意識に文章を飛ばして読んでいた<br>
                        ・ファイルごとの保存がされていない(下記画像参照)<br>
                        <br>
                        <img src="<%= asset_path('save_mark.png') %>"><br>
                        <br>
                        <br>
                        上記項目を確認しても解決しない場合、質問してください。
      			</div>
      		</div>
      	</div>
      	<br>
      	<div class="panel panel-success">
      	  <div class="panel-heading">
      	  ポートフォリオ
      	  </div>
      	  </div>
      	
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse9">
      					Q：ポートフォリオはどのようなものを作成すればいいですか？
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse9" class="panel-collapse collapse">
      			<div class="panel-body">
              	A：完成したチュートリアルに自分の好きな機能やデザインを追加してください。それがポートフォリオになります。<br> 
                    サロンメンバーの作成済みのポートフォリオも参考になると思います。<br>
      			</div>
      		</div>
      	</div>
      	
      </div>
      <!-- end -->
    </div> 
    <%= render 'layouts/aside' %>
  </div>
 </div>