<!----------------------------------------------------------------->
 <!--------------- js ---------------------------------------------->
 <!----------------------------------------------------------------->
 
 <!--sugimoto added-->
 <script>
 //下記はボタンの表示が変わってから実行されるjs
 const CHAPTER_MAX_NUM = 14;
 const NEXT_LIST_NAME = "ポートフォリオの作り方";
 const NEXT_LINE_DOM = "</br>";
 const SINGLE = 1;
 const DOUBLE = 2;
 let current_num_of_incomp;
 
 
 function showHowToMakePortfolio(){
   if(is_all_watched()){
     //全部完了の場合にボタンを非表示-> 表示にする処理
     showNextButton();
     
     //asideの活性化
     let aside_lists = $('.sidebar-list').find('li');
     for(let i = 0, len = aside_lists.length; i < len; i++){
       var listText = aside_lists[i].innerText;
       if(listText === NEXT_LIST_NAME){
         switchDisabled($(aside_lists[i]));
         offsetToCenter();
         $(window).resize(offsetToCenter);
         showModalLayer()
         showMsg(listText + NEXT_LINE_DOM +  NEXT_LINE_DOM + " をオープンしました");
       }
     }
     
   }else{
     //全部完了出ない場合の処理、ボタンを非表示にする処理
     hideNextButton();
     
     //asideの非活性化
     let aside_lists = $('.sidebar-list').find('li');
     for(let i = 0, len = aside_lists.length; i < len; i++){
       var listText = aside_lists[i].innerText;
       if(listText === NEXT_LIST_NAME){
         switchDisabled($(aside_lists[i]));
         
         if(is_become_only_one_uncomp()){
           return;
         }
         
         if(has_only_one_uncomp()){
           offsetToCenter();
           $(window).resize(offsetToCenter);
           showModalLayer()
           showMsg(listText + NEXT_LINE_DOM + NEXT_LINE_DOM + " をクローズしました");
         }
         
       }
     }
   }
 }
 
 function offsetToCenter(){
   //スクロール位置を記録
   var wH = $(window).height();
   var wW = $(window).width();
   var cH = $(".alert-info").outerHeight();
   var cW = $(".alert-info").outerWidth();
   var centerH = ( wH ) / 2 ;
   var sc = $(window).scrollTop();
   
   $(".alert-info").css({"top" : centerH - 400 + sc + "px"});
 }
 
 function switchDisabled(obj){
   obj.find('a').toggleClass('disabled');
 }
 
 function showModalLayer(){
   $(".modal-bg").show().fadeOut(4500);
 }
 
 function showMsg(text){
   $('#item_in_menu')[0].innerHTML = text;
   $('.alert').fadeIn(1000).delay(1000).fadeOut(2000);
 }
 
 function showNextButton(){
   $("#link_portfolio_mv").show();
   $("#link_portfolio_mv").toggleClass('hide');
 }
 function hideNextButton(){
   $("#link_portfolio_mv").show();
   $("#link_portfolio_mv").toggleClass('hide');
 }
 
 function is_all_watched(){
   var comp_length = $('.btn-comp').length
   if(comp_length === CHAPTER_MAX_NUM){
     return true;
   }else{
     return false;
   }
 }
 
 function has_only_one_uncomp(){
   let incomp_length = $('.btn-incomp').length
   if(incomp_length === SINGLE){
     return true;
   }else{
     return false;
   }
 }
 
 function is_become_only_one_uncomp(){
   let next_num_of_incomp = $('.btn-incomp').length;
   if(current_num_of_incomp === DOUBLE && next_num_of_incomp === SINGLE){
     current_num_of_incomp = next_num_of_incomp
     return true;
   }else{
     current_num_of_incomp = next_num_of_incomp
     return false;
   }
 }
 </script>
 
 <!----------------------------------------------------------------->
 <!--------------- HTML -------------------------------------------->
 <!----------------------------------------------------------------->
<link rel=“stylesheet” href=“popup.scss”>
<div class="main-wrapper">
  <div class="row">
    <div class="col-md-8">
      <p class="txt2 text-center"><a href="https://railstutorial.jp/" target="_blank">RailsTutorialはこちら</a></p>
    
<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th class="table-header">章</th>
      <th class="table-header">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="center">1章</td>
      <td id="chapter1">
        <% if !@railstutorial_status.chapter1 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter1' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter1' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="center">2章</td>
      <td id="chapter2">
        <% if !@railstutorial_status.chapter2 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter2' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter2' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="center">3章</td>
      <td id="chapter3">
        <% if !@railstutorial_status.chapter3 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter3' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter3' %>
        <% end %>
      </td>
    </tr>    
    <tr>
      <td class="center">4章</td>
      <td id="chapter4">
        <% if !@railstutorial_status.chapter4 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter4' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter4' %>
        <% end %>
      </td>
    </tr>    
    <tr>
      <td class="center">5章</td>
      <td id="chapter5">
        <% if !@railstutorial_status.chapter5 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter5' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter5' %>
        <% end %>
      </td>
    </tr>    
    <tr>
      <td class="center">6章</td>
      <td id="chapter6">
        <% if !@railstutorial_status.chapter6 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter6' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter6' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="center">7章</td>
      <td id="chapter7">
        <% if !@railstutorial_status.chapter7 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter7' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter7' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="center">8章</td>
      <td id="chapter8">
        <% if !@railstutorial_status.chapter8 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter8' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter8' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="center">9章</td>
      <td id="chapter9">
        <% if !@railstutorial_status.chapter9 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter9' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter9' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="center">10章</td>
      <td id="chapter10">
        <% if !@railstutorial_status.chapter10 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter10' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter10' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="center">11章</td>
      <td id="chapter11">
        <% if !@railstutorial_status.chapter11 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter11' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter11' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="center">12章</td>
      <td id="chapter12">
        <% if !@railstutorial_status.chapter12 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter12' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter12' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="center">13章</td>
      <td id="chapter13">
        <% if !@railstutorial_status.chapter13 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter13' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter13' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="center">14章</td>
      <td id="chapter14">
        <% if !@railstutorial_status.chapter14 %>
          <%= render 'railstutorial_statuses/complete', course: 'chapter14' %>
        <% else %>
          <%= render 'railstutorial_statuses/incomplete', course: 'chapter14' %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<% hide = 'hide' %>
<div id="link_portfolio_mv" class="<%= hide unless railstutorial_comp? %>">
   <p class="text-center">
     <%= link_to "NEXT：ポートフォリオの作り方", portfolio_mv_path, class: "txt1 btn btn-lg btn-default active"%>
   </p>
 </div>
 </div>
 <%= render 'layouts/aside' %>
 
 
 <div class="alert alert-info">
   <strong id="item_in_menu"></strong>
 </div>
 
 <div class="modal-bg"></div>
 
 <script>
    $('.hide').hide();
   current_num_of_incomp = $('.btn-incomp').length;
  </script>