<div class="staticpages-railstutorial--wrapper">
  <p class="txt2 text-center">
    <a href="https://qiita.com/Nukioman/private/754f0538e4b33aa56d2d/" target="_blank">
      誰でもわかる勤怠システムはこちら
    </a>
  </p>
  <table class="txt1 table table-bordered table-striped table-condensed table-status">
    <thead>
      <tr>
        <th class="table-header">章</th>
        <th class="table-header">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="center">1章</td>
        <td id="chapter1">
          <% if !@railstutorial_status.chapter1 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter1' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter1' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">2章</td>
        <td id="chapter2">
          <% if !@railstutorial_status.chapter2 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter2' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter2' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">3章</td>
        <td id="chapter3">
          <% if !@railstutorial_status.chapter3 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter3' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter3' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">4章</td>
        <td id="chapter4">
          <% if !@railstutorial_status.chapter4 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter4' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter4' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">5章</td>
        <td id="chapter5">
          <% if !@railstutorial_status.chapter5 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter5' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter5' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">6章</td>
        <td id="chapter6">
          <% if !@railstutorial_status.chapter6 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter6' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter6' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">7章</td>
        <td id="chapter7">
          <% if !@railstutorial_status.chapter7 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter7' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter7' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">8章</td>
        <td id="chapter8">
          <% if !@railstutorial_status.chapter8 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter8' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter8' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">9章</td>
        <td id="chapter9">
          <% if !@railstutorial_status.chapter9 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter9' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter9' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">10章</td>
        <td id="chapter10">
          <% if !@railstutorial_status.chapter10 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter10' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter10' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">11章</td>
        <td id="chapter11">
          <% if !@railstutorial_status.chapter11 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter11' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter11' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">12章</td>
        <td id="chapter12">
          <% if !@railstutorial_status.chapter12 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter12' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter12' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">13章</td>
        <td id="chapter13">
          <% if !@railstutorial_status.chapter13 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter13' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter13' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="center">14章</td>
        <td id="chapter14">
          <% if !@railstutorial_status.chapter14 %>
            <%= render 'railstutorial_statuses/complete', course: 'chapter14' %>
          <% else %>
            <%= render 'railstutorial_statuses/incomplete', course: 'chapter14' %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  
  <% hide = 'hide' %>
  <div id="link_portfolio_mv" class="<%= hide unless railstutorial_comp? %> next-btn">
    <p class="text-center">
      <%= link_to "NEXT：ポートフォリオの作り方", portfolio_mv_path, class: "txt1 btn btn-lg btn-default active"%>
    </p>
  </div>
  
</div>
  
<script>
  var rails_button_max_num = $('table').find('.btn').length;
  MYAPP.BUTTON.set_max_num(rails_button_max_num);
</script>