 <div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Sign up</h1>
			  <div class="col-md-8 col-md-offset-2">
			    <%= form_for(:user, url: signup_path ) do |f| %>
            <%= f.label :name, "氏名" %>
            <%= f.text_field :name, class: 'form-control' %>
      
            <%= f.label :nickname, "ニックネーム" %>
            <%= f.text_field :name, class: 'form-control'%>
      
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
      
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control'  %>
      
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control'  %>
      
            <%= f.submit "Create my account", class: "btn btn-primary" %>
          <% end %>
		    </div>
      </div> 
    <%= render 'layouts/aside' %>
  </div>
 </div>
