 <%= form_for(@pdcapost) do |f| %>
     <%= f.label :plan, "Plan", class: 'txt1' %>
      <%= f.text_area :title, class: 'form-control' %>
      <%= f.label :do, "Do", class: 'txt1' %>
      <%= f.text_area :title, class: 'form-control' %>
      <%= f.label :check, "Check", class: 'txt1' %>
      <%= f.text_area :title, class: 'form-control' %>
      <%= f.label :action, "Action", class: 'txt1' %>
      <%= f.text_area :title, class: 'form-control' %>
    <div class="center mt_20">
        <%= f.submit '登録', {class: 'btn btn-default active post-regist' }%>
  　</div>
    <% end %>