<div class="pdcaposts-index--wrapper">
  <div class="row">
    <h2 class="page-title">
      <span>PDCA報告</span>
    </h2>
    <aside class="col-md-4">
      <h4 class="form-title">
        <span>PDCA報告フォーム</span>
      </h4>
      <section class="user_info form_balloon">
        <%= form_for(@pdcapost) do |f| %>
          <%= render partial: 'form', locals: {f: f} %>
        <% end %>
      </section>
    </aside>
    <div class="col-md-8">
      <ul>
        <% @pdcaposts.each do |pdcapost| %>
          <li id="pdcapost-<%= pdcapost.id %>" class="">
            <div class="report">
              <% if pdcapost.user.picture_file %>
                <%= image_tag("/pdca_post/get_image/#{pdcapost.user.id}", :class => "icon") %>
              <% else %>
                <%= image_tag('default.png', :class => "icon") %>
              <% end %>
              <div class="left_balloon">
                <span type="text" class="">
                  <%= pdcapost.user.nickname %>
                </span><br/>
                <%= form_for (pdcapost) do |f| %>
                  <%= f.label :date, "Date", class: 'txt1' %>
                  <%= f.date_field :date, class: 'form-control', disabled: true %>
                  <%= f.label :plan, "Plan", class: 'txt1' %>
                  <%= f.text_area :plan, :value => pdcapost.plan, class: 'form-control', disabled: true %>
                  <%= f.label :do, "Do", class: 'txt1' %>
                  <%= f.text_area :do, :value => pdcapost.do, class: 'form-control', disabled: true %>
                  <%= f.label :check, "Check", class: 'txt1' %>
                  <%= f.text_area :check, :value => pdcapost.check, class: 'form-control', disabled: true %>
                  <%= f.label :action, "Action", class: 'txt1' %>
                  <%= f.text_area :action, :value => pdcapost.action, class: 'form-control', disabled: true %>
                  <%= f.hidden_field :id, :value => pdcapost.id %>
                  <%= f.submit '更新', {class: 'btn btn-default active post-regist hide update_button' }%>
                <% end %>
                <input type="button" class='btn btn-default active post-regist hide update_button' value='キャンセル' onclick="HTMLRestore();return false;"  %>
                <span class="timestamp">
                  <%= date_format(pdcapost.created_at) %>
                </span>
                <% if pdcapost.user_id == current_user.id %>
                  <span>
                    <%= link_to '編集', '#', :onclick=> "show_edit(this);return false;", class: 'edit' %>
                  </span>
                   <%= link_to '削除', pdcapost, method: :delete, class: 'delete',
                      data: { confirm: '本当に削除しますか？' } %>
                <% end %>
              </div>
            </div>
          </li>
      <% end %>
      </ul>
      <div class="center">
        <%= paginate @pdcaposts %>
      </div>
    </div>
  </div>
</div>
<script>
var defaultHTML;
       window.onload = function(){
          defaultHTML = document.body.innerHTML;
        }
        // HTML記述を初期状態に戻す
        function HTMLRestore() {
          document.body.innerHTML = defaultHTML;
        }
    
      function show_edit(e){
        var update_button = $(e).parent().parent().children('form').children('input[type="submit"]');
        var textarea = $(e).parent().parent().children('form').children('textarea');
        var text = $(e).parent().parent().children('form').children('input[type="date"]');
        var delete_link = $(e).parent().next();
        var cancel_button = $(e).parent().parent().children('input');
        textarea.prop("disabled", false);
        text.prop("disabled", false);
        $(e).removeClass('show');
        $(e).addClass('hide');
        delete_link.removeClass('show');
        delete_link.addClass('hide');
        update_button.removeClass('hide');
        update_button.addClass('show');
        cancel_button.removeClass('hide');
        cancel_button.addClass('show');
      };
  
</script>