<div class="pdcaposts-index--wrapper">
<div class="row">
  <aside class="col-md-3">
      <h4 class="form-title">
       <span>PDCA報告フォーム</span>
      </h4>
    <section class="user_info form_balloon">
       <%= form_for(@pdcapost) do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
       <% end %>
    </section>
  </aside>
  <div class="col-md-9">
      <h2 class="page-title">
       <span>PDCA報告</span>
      </h2>
  <ol>
  <% @pdcaposts.each do |pdcapost| %>
    <li id="pdcapost-<%= pdcapost.id %>" class="left_balloon">
      <span type="text" class=""><%= link_to pdcapost.user.nickname, pdcapost.user %></span><br/>
      <p>Plan</p>
      <textarea class="" disabled><%= pdcapost.plan %></textarea>
      <p>Do</p>
      <textarea class="" disabled><%= pdcapost.do %></textarea>
      <p>Check</p>
      <textarea class="" disabled><%= pdcapost.check %></textarea>
      <p>Action</p>
      <textarea class="" disabled><%= pdcapost.action %></textarea>
      <span class="timestamp">
        Posted <%= time_ago_in_words(pdcapost.created_at) %> ago.
      </span>
      <span class="edit">
        編集
      </span>
      <span class="delete">
        削除
      </span>
    </li>
  <% end %>
  </ol>
  <div class="center">
    <%= paginate @pdcaposts %>
  </div>
  </div>
  </div>
  </div>