<div class="pdcaposts-index--wrapper">
  
  <h2 class="page-title-jp">
    <span>PDCA報告</span>
  </h2>
    
  <!--投稿フォーム-->
  <div class="form-wrapper container-fluid">
    <!--タイトル-->
    <h4 class="form-title">
      <span>PDCA報告フォーム</span>
    </h4>
    <!--フォーム-->
    <section class="user_info form_balloon">
      <div id="formvalidations"></div>
      <%= form_for(@pdcapost, html: {id: 'form'}) do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
      <% end %>
    </section>
  </div>
  
  <!--投稿の一覧-->
  <div class="posts-wrapper container-fluid">
    <ul>
      <div id="validations"></div>
      <% @pdcaposts.each do |pdcapost| %>
        <li id="pdcapost-<%= pdcapost.id %>" class="">
          <div class="report">
            <%= image_tag(get_profile_image(pdcapost.user), :class => "icon") %>
            
            <div class="left_balloon">
              <!--投稿者名-->
              <div>
                <span type="text"><%= pdcapost.user.nickname %></span>
              </div>
              
              <div>
                <%= form_for pdcapost,  html: {class: 'form'} do |f| %>
                  <%= f.label :date, "Date", class: 'txt1' %>
                  <%= f.date_field :date, class: 'form-control', disabled: true %>
                  <%= f.label :plan, "Plan", class: 'txt1' %>
                  <%= f.text_area :plan, :value => pdcapost.plan, class: 'form-control', disabled: true %>
                  <%= f.label :do, "Do", class: 'txt1' %>
                  <%= f.text_area :do, :value => pdcapost.do, class: 'form-control', disabled: true %>
                  <%= f.label :check, "Check", class: 'txt1' %>
                  <%= f.text_area :check, :value => pdcapost.check, class: 'form-control', disabled: true %>
                  <%= f.label :action, "Action", class: 'txt1' %>
                  <%= f.text_area :action, :value => pdcapost.action, class: 'form-control', disabled: true %>
                  <%= f.hidden_field :id, :value => pdcapost.id %>
                  
                  <div class="report-form-footer">
                    <input type="button" class='btn btn-sm btn-default post-regist hide cancel-button'
                                                                                value='キャンセル' onclick="HTMLRestore(); return false;" />
                    <span class="timestamp">
                      <%= date_format(pdcapost.created_at) %>
                    </span>
                    
                    <%= f.submit '更新', {class: 'btn btn-sm btn-default post-regist hide update-button' } %>
                  
                    <% if pdcapost.user_id == current_user.id %>
                      <%= link_to '編集', '#', :onclick => "show_edit(this); return false;", class: 'btn btn-sm btn-default edit-button' %>
                      <%= link_to '削除', pdcapost, method: :delete, class: 'btn btn-sm btn-danger delete-button',data: { confirm: '本当に削除しますか？' } %>
                    <% end %>
                  
                  </div>
                <% end %>
              </div>

            </div>
          </div>
        </li>
    <% end %>
    </ul>
    <div class="center">
      <%= paginate @pdcaposts %>
    </div>
  </div>
</div>


<script>
var defaultHTML;
       window.onload = function(){
          defaultHTML = document.body.innerHTML;
          
          var ta = document.getElementsByTagName("textarea");
          $.each(ta, function(index, value){
            var tah = value.scrollHeight + 'px';
            value.style.height = tah;
          });
        }
        // HTML記述を初期状態に戻す
        function HTMLRestore() {
          document.body.innerHTML = defaultHTML;
        }
    
      function show_edit(e){
        var repo_form = $(e).closest("form"); // closest(): 最も近い親要素を取得
        var textarea = repo_form.children('textarea');
        var text = repo_form.children('input[type="date"]');
        
        var update_button = $(e).siblings(".update-button"); // siblings(): 全兄弟要素から取得
        var delete_link = $(e).siblings(".delete-button");
        var cancel_button = $(e).siblings(".cancel-button");
        
        textarea.prop("disabled", false);
        text.prop("disabled", false);
        $(e).removeClass('show');
        $(e).addClass('hide');
        delete_link.removeClass('show');
        delete_link.addClass('hide');
        update_button.removeClass('hide');
        update_button.addClass('show');
        cancel_button.removeClass('hide');
        cancel_button.addClass('show');
      };
      
      $("#form").on('submit', function(e){
        // validation用のメッセージなどの配列を用意
        var validationMessages = [];
        
        validationMessages = $(e)[0].currentTarget.getElementsByClassName('form-control');
        
        var error_number = 0;
        
        $.each(validationMessages,function(index,val){
          if(!val.value){
            val.style.backgroundColor = '#FFE2F3';
            error_number = error_number + 1;
          }
        });
        
        var form_errormessages = document.getElementById('#formvalidations');
        
        if(error_number == 0){
          return true;
        }else{
          formvalidations.style.color = 'red';
          formvalidations.innerHTML = '全てのPDCA項目を入力してから報告してください';
          return false;
        }
      });
      
      $(".form").on('submit', function(e){
        // validation用のメッセージなどの配列を用意
        var validationMessages = [];
        
        validationMessages = $(e)[0].currentTarget.getElementsByClassName('form-control');
        
        var error_number = 0;
        
        $.each(validationMessages,function(index,val){
          if(!val.value){
            val.style.backgroundColor = '#FFE2F3';
            error_number = error_number + 1;
          }
        });
        
        var errormessages = document.getElementById('#validations');
        
        if(error_number == 0){
          return true;
        }else{
          validations.style.color = 'red';
          validations.innerHTML = '全てのPDCA項目を入力してから更新してください';
          return false;
        }
        
      })
      
  $(document).ready(function(){
    $("#form").validationEngine();
  });
</script>