<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@movie_category) do |f| %>
      <%= f.label :name, 'カテゴリ名', class: 'txt1' %>
      <%= f.text_field :name, class: 'form-control' %>
      <div id="centering">
        <%= f.submit "登録", class: "btn-log btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to '動画一覧へ戻る', movies_path %>