<div class="main-wrapper">
  <div class="row">
    <div class="col-md-9">
      
      <div class="movies-page--wrapper">
        <h2 class="page-title">
          <span><%= @category.name %></span>
        </h2>
        
        <% hide = 'hide-movie' %>
        <% @movies.each do |movie| %>
          <div id="m<%= movie.sort_order %>" class="<%= hide if !current_user.before_fb_comp?(movie.sort_order, @category.id) && @category.must_view %>">
            <%= render 'movie', movie: movie %>
            <% if @category.must_view %>
              <%= render 'feedback_form', feedback: @feedback, sort_order: movie.sort_order, movie_id: movie.id %>
            <% end %>
          </div>
        <% end %>
        
        <% if @category.sort_order == MovieCategory.where(must_view: true).count %>
          <div id="mypage_link" class="<%= hide if !current_user.before_fb_comp?(@category.movies.count + 1, @category.id) && @category.must_view %>">
            <div class="txt1">
              おめでとうございます！<br>
              課題となる動画視聴はこれで完了です。<br>
              次はProgate完了予定日の登録に進みましょう！<br>
            </div>
            <p class="text-center">  
              <%= link_to "完了予定日を登録", current_user, class: "txt1 btn btn-lg btn-default active" %>
            </p>
          </div>
        <% elsif @category.sort_order != MovieCategory.count %>
          <div id="next_category_link" class="<%= hide if !current_user.before_fb_comp?(@category.movies.count + 1, @category.id) && @category.must_view %>">
            <p class="text-center">
              <%= link_to "NEXT：#{@next_category.name}", movie_category_path(@next_category), class: "txt1 btn btn-lg btn-default active" %>
            </p>
          </div>
        <% end %>
        
      </div>
    </div>
    <%= render 'layouts/aside' %>
  </div>
</div>

<script>
  $('.hide-movie').hide();
</script>