<%= form_for(feedback, remote: true) do |f| %>
  <div class="form-group<%= movie_id %> forms">
    <%= f.text_area :feedback, :id => "textarea#{movie_id}", :size => "7x7", :maxlength => "500",
        :placeholder => "100-500文字で入力してください", required: true, 
        :onchange => "Limit#{movie_id}(event)", :onkeyup => "Limit#{movie_id}(event)" %>
    <%= f.hidden_field :movie_id, :value => movie_id %>
    <br><span id="msg<%= movie_id %>">文字数カウント</span><br><div style="color: red;" class="has-error<%= movie_id %>"></div>
    <%= f.submit "感想を送る", id: "feedback-btn#{movie_id}", class: "btn btn-primary btn-lg submit-btn#{movie_id}", disabled: true %>
  </div>
<% end %>

<script>
$(function(){
    $('.form-group<%= movie_id %>').hide();

    $('#show-form<%= movie_id %>').click(function(){
        $('.form-group<%= movie_id %>').show();
        $(this).fadeOut();
    });
    
    $('#feedback-btn<%= movie_id %>').click(function(){
        $(this).val("感想送信済み");
    });
});
</script>

<script language="JavaScript">

function Limit<%= movie_id %>(event){
  var Tarea<%= movie_id %>= document.getElementById("textarea<%= movie_id %>");
  var Mcnt<%= movie_id %>= document.getElementById("msg<%= movie_id %>");
  var mojiVal<%= movie_id %> = Tarea<%= movie_id %>.value; //テキストエリアの文字数
  var val<%= movie_id %> = mojiVal<%= movie_id %>.replace(/\n|\r\n/g,"").length;
  var Etype<%= movie_id %> = event.type; //イベントのタイプを取得
if(Etype<%= movie_id %> == "keyup"){//イベントのタイプが"Keyup"なら
  Mcnt<%= movie_id %>.innerHTML = //文字数のカウントを表示
    "<span style='font-weight: bold;color:blue ;'>"+val<%= movie_id %>+"</span>文字";
  }
}
</script>
<script>
$(function(){
    var     $text<%= movie_id %> = $("#textarea<%= movie_id %>"),
            $button<%= movie_id %> = $(".submit-btn<%= movie_id %>"),
            disabled_class = 'disabled';
 
    if($text<%= movie_id %>.val().length == 0) {
        $button<%= movie_id %>.prop('disabled',true).addClass('disabled');
    }
 
    $text<%= movie_id %>.bind('keydown keyup keypress change',function(){
        var thisValueLength = $(this).val().length;
        if(thisValueLength >= 100){
            $button<%= movie_id %>.prop('disabled',false).removeClass(disabled_class);
            $('.has-error<%= movie_id %>').hide();
        }else{
            $button<%= movie_id %>.prop('disabled',true).addClass(disabled_class);
            $('.has-error<%= movie_id %>').text( '100文字以上入力してください' );
            $('.has-error<%= movie_id %>' ).show();
        }
    });
});
</script>