<div class="qiitaposts-index--wrapper">
  <div class="container-fluid">
    
    <h2 class="page-title-jp">
      <span>Qiita投稿</span>
    </h2>
    
    <table class="table-posts">
      <thead>
      </thead>
      
      <!--新規投稿-->
      <tbody>
        <tr>
          <td class="td-new-post" colspan="2">
        【<%= link_to '新規投稿', new_qiita_post_path %>】
          </td>
        </tr>
      </tbody>
      
        <tbody class="tr-group">
          <!--投稿の表示-->
          <% @qiitaposts.each do |qiitapost| %>
          <tr>
            <!--プロフィール写真-->
            <td class="td-img" rowspan="2">
              <%= image_tag(get_profile_image(qiitapost.user), :class => "icon") %>
            </td>
            
            <!--メイン情報-->
            <td class="td-main">
              <%= link_to qiitapost.title, qiitapost.url, target: '_blank' %>
            </td>
            </li>
          </tr>
          <tr>
            <td class="td-sub">
              <!--ユーザー名-->
              by <%= qiitapost.user.nickname %> &nbsp;
              <!--日付-->
              <%= qiitapost.created_at.strftime("%Y/%m/%d") %> &nbsp;
              <!--編集（投稿者のみ表示）-->
              <% if qiitapost.user_id == current_user.id %>
                ［
                  <%= link_to '編集', edit_qiita_post_path(qiitapost) %>
                ］
              <% end %>
            </td>
          </tr>
          <% end %>
          <!--@qiitaposts.each do |qiitapost|-->
        </tbody>
    </table>
    
    <div class="center">
      <%= paginate @qiitaposts %>
    </div>
    
  </div>
</div>