<h2 class="page-title-jp">
  <span>新規投稿</span>
</h2>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(@qiitapost) do |f| %>
      <%= render partial: 'shared/error_messages', locals: {object: @qiitapost } %>
      
      <%= f.label :title, "タイトル", class: 'txt1' %>
      <%= f.text_field :title, class: 'form-control' %>
      
      <%= f.label :url, '投稿URL', class: 'txt1 mt_20' %>
      <%= f.text_field :url, class: 'form-control' %>
      
      <div class="center mt_20">
        <%= f.submit '登録', {class: 'btn btn-default active post-regist' }%>
      </div>
    <% end %>
  </div>
</div>