<h1>新規登録</h1>
<%= form_for :qiita_post, url: qiita_posts_path do |f| %>
  <p>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :url, "投稿URL" %><br>
    <%= f.text_field :url %>
  </p>
  <div class="button_wrapper"> 
    <%= f.submit '登録', {class: 'btn btn-regist' }%>
  </div>
<% end %>